[2015-11-29 15:29] alexfedoseev opened #2 "Ship 1.0.0"
* [ ] Tests

@justin808 Add if I forgot something.

[2016-01-20 12:05] marksyzm opened #4 "Webpack watch launches sass-resources-loader each time"
This would be absolutely perfect if it didn't rebuild the same scripts each time I altered any file within the webpack structure. So any time I change a JS file with `watch` enabled in webpack, it rebuilds my sass resources, thus vastly slowing down the build process.

[2016-01-20 16:50] justin808 commented on #4
@alexfedoseev Maybe we didn't set the cache properly for webpack, like we did for the bootstrap-loader?

[2016-01-20 16:52] marksyzm commented on #4
Hey, it's version 0.1.0, nobody's to blame :D

[2016-01-20 16:53] marksyzm commented on #4
Oh... it's 1.0.1 - never mind!

[2016-01-20 22:39] justin808 commented on #4
@marksyzm if you can take a look at the code...and submit a PR, that would be **great!**

Here's how I fixed this before:
https://github.com/shakacode/bootstrap-sass-loader/blob/master/bootstrap-sass-styles.loader.js#L57

addDependency tells Webpack to keep track.

[code]

and

https://github.com/shakacode/bootstrap-sass-loader/blob/master/bootstrap-sass-styles.loader.js#L70

[code]

CC: @alexfedo

[2016-01-20 22:50] marksyzm commented on #4
Ah that makes sense... I'm never going to catch much time in the next 3
weeks though and can work around it to be fair - sorry to just dump some
crap like that but I thought you guys should know because it was pretty
major!

On Wed, 20 Jan 2016, 22:39 Justin Gordon <notifications@github.com> wrote:

--
Regards,
Mark Elphinstone-Hoadley
www.oxfordsourceltd.com

[2016-01-21 15:12] alexfedoseev commented on #4
@marksyzm @justin808 I'll look into this one on the weekend.

[2016-01-23 20:17] alexfedoseev commented on #4
@justin808 @marksyzm Those moments seem fine: [this.cacheable](https://github.com/shakacode/sass-resources-loader/blob/master/src/loader.js#L8) and [this.addDependency](https://github.com/shakacode/sass-resources-loader/blob/master/src/utils/createImport.js#L6)

I'll look further.

[2016-01-24 16:42] #4 closed

[2016-01-24 17:45] alexfedoseev commented on #4
Fixed in https://github.com/shakacode/sass-resources-loader/pull/5.

[2016-01-24 17:46] alexfedoseev commented on #4
And published to npm.

[2016-02-15 16:59] veeracs opened #6 "@import error - File to import not found or unreadable..."
When the SCSS file has @import 'bourbon/bourbon'; It's throwing an error, "File to import not found or unreadable: bourbon/bourbon"

Do I need to specify each and every file bourbon imports in the sassResources array from webpack configuration?

in webpack.dev.js

[code]

In app.scss I have,

[code]

sass-resources-loader is unable to resolve any of the above imports

[2016-03-07 01:01] elishaterada commented on #6
+1 for automatically handling @import statement within the resource file to load additional resources.

This is extremely useful with using frameworks like Bootstrap that splits mixins into over 30 files.

Or at least a way to use glob like syntax to specify all mixin files in a directory and such.

[2016-03-07 08:28] justin808 commented on #6
@veeracs @elishaterada Any chance that either of you could make a simple reproduction repository? We'd be very happy to consider a PR for your issues.

[2016-03-29 19:58] veeramarni opened #7 "Sass loader fails"
Getting following error when using sass-resource-loader from [metric-webpack](https://github.com/thereactivestack/meteor-webpack/blob/master/packages/sass/webpack.config.js) project.

[code]

Here is how i have configured.
In jsx file i have imported
`import 'reactionic/dist/scss/ionic-scss/_bar.scss';`

In webpack.json, i have added following.

[code]

[2016-04-20 03:33] whitetrefoil opened #8 "Problem to import SCSS files in SASS files."
According to the error log, it seems the SCSS file was parsed as a SASS file when it was imported in a SASS file.

When manually `@import` that SCSS file it works fine.

**webpack.conf.js:**
[code]
**src/css/_variables.scss:**
[code]

**src/css/app.sass:**
[code]

**error log:**
[code]

[2016-04-20 06:45] justin808 commented on #8
@whitetrefoil Could you stick to scss?

otherwise, can you help us debug this and submit a PR?

[2016-04-20 08:39] whitetrefoil commented on #8
I chose not to disturb the legacy code in my project for now.  I'll see if there's anything I can do here after it's finished.

[2016-04-22 09:26] mirague commented on #6
We also find ourselves needing proper support for `@import` statements. Because of the nature of this module we cannot use relative paths, and absolute paths is not an option for us.

[2016-04-27 06:19] davidrossjones commented on #6
👍

@justin808 I want to use Foundation with Webpack but the lack of support for the `@import` syntax in a base SCSS file makes this unviable i.e. I'd have to add a direct link to every single mixin file.

I want to:

`npm install foundation-sites`

This will be included globally in my app but I would like access in my modules to Foundation mixins/variables e.g.

`@include flex-grid-column(12)`

In

[2016-05-06 10:41] alexfedoseev commented on #6
Sorry guys, somehow I wasn't watching this repo.

Sadly, but such `@import`s significantly slow down hot reloading. It was working this way before, but since these files are actually linked, every change in single component was causing rebuild of the whole css of the app (instead of rebuilding css for just this module). It was super slow. So now I just inline contents of the files w/ resources.

D

[2016-05-06 10:45] alexfedoseev commented on #7
@veeramarni Can you push repo to reproduce this issue?

[2016-05-06 10:49] alexfedoseev commented on #8
@whitetrefoil It won't work, b/c content of the resource files is inlined. Reason: performance issue. Please take a look at my comment in https://github.com/shakacode/sass-resources-loader/issues/6.

I'm closing this, b/c it's kinda dup of #6. Let's continue there.

[2016-05-06 10:49] #8 closed

[2016-05-06 10:58] veeracs commented on #6
For those who still want this to work,

1 Add the following prop to webpack config,
  `var sassResources = require('./sass-resources');`
  `sassResources: sassResources,`

2. In `sass-resources.js`,
`module.exports = [
  // Bourbon 4.2.6
  // http://bourbon.io
  // Copyright 2011-2015 thoughtbot, inc.
  // MIT License
  "./lib/client/assets/styles/bourbon/settings/_prefixer.scss",
  "./lib/client/

[2016-05-12 21:36] diegodurli commented on #6
Hi guys!

First of all, this is a great loader, helps a lot! My scenario is the following:

I was attempting to use some bourbon mixins within my css-modules files, as @veeracs mentioned.
I thought that it would be hard to explicitly define all paths to Bourbon, therefore I created this small piece of code to load based on patterns:

![image](https://cloud.githubusercontent.com/assets/1239143/1523

[2016-07-18 07:29] alexfedoseev opened #9 "[Discussion]: Support relative paths (via resolve-url-loader)"
https://github.com/bholloway/resolve-url-loader

[2016-07-20 10:22] vict-shevchenko commented on #6
Hello, thanks for an awesome plugin. Possibility to correctly handle of ```@impot``` will be also very valuable for my project.

May be its possible to teach saas-resourse-loader understand patterns-matching like:

[code]

[2016-07-23 10:05] rtivital opened #10 "Add glob support"
Currently I need to install [Glob](https://github.com/isaacs/node-glob) package separately to match all files in resources folder:
[code]

It would be really great if sass-resources-loader could recognize these patterns out of the box, e.g.
[code]

[2016-07-23 18:58] justin808 commented on #10
@rtivital Any chance that you want to hack on the loader and put in a PR?

Sounds like a great idea.

CC: @alexfedoseev

[2016-07-23 21:06] rtivital commented on #10
@justin808 Well, I guess I've done it in https://github.com/shakacode/sass-resources-loader/pull/11

I've done some testing with provided example, everything seems just fine.

[2016-07-27 13:54] nic004 commented on #7
I had same issue.

In my case,

// one line comment
$font-size: 36px;
=> pass

$font-size: 36px;  // comment at end of line
=> fail

[2016-08-05 04:15] justin808 commented on #7
@veeramarni @nic004 If you can give @alexfedoseev and I a simple repro case, we can probably fix the issue.

[2016-08-05 04:17] justin808 commented on #10
See #11.

[2016-08-05 04:17] #10 closed

[2016-08-05 04:18] justin808 commented on #6
@diegodurli @vict-shevchenko Does this require a PR?

[2016-08-05 09:38] vict-shevchenko commented on #6
Yes, this was just a proposition

[2016-08-05 09:42] justin808 commented on #6
@vict-shevchenko If you can provide a sample use case and a PR, we'd consider this.

[2016-08-08 08:26] vict-shevchenko commented on #6
Sorry, due to a high work load I can commit for this. So any help appreciated.

[2016-08-16 16:50] diegodurli commented on #6
@justin808 Due to project related changes we moved to another setup, therefore I don't face this use case / scenario anymore

[2016-08-16 17:20] justin808 commented on #6
@vict-shevchenko I think the problem is already solved for you. See https://github.com/shakacode/sass-resources-loader/pull/11

It's in `1.1.0`.

Please confirm and I will close this issue.

[2016-08-16 20:18] vict-shevchenko commented on #6
Sure, close the issue.  Thanks a lot!

[2016-08-16 22:54] #6 closed

[2016-08-29 10:12] mdentinho opened #12 "sassResources wrong type error"
Hey guys,

I've been trying to implement this loader in a project, but it keeps throwing this error:

[code]

But sassResources is an Array of strings:

[code]

I'm also using [bootstrap-loader](https://github.com/shakacode/bootstrap-loader/) (v2.0.0-beta.3), if that matters, and I'm trying to make bootstrap's variables and mixings available in my styles.

Is there something I'm missing?

Thanks

[2016-08-30 02:56] justin808 commented on #12
@mdentinho We just fixed a few bugs in bootstrap-loader. try beta.5

[2016-08-30 10:05] mdentinho commented on #12
@justin808 Unfortunately, it didn't solve the problem. The errors persist. :(

[2016-09-07 14:40] smitray commented on #12
@justin808 , Tried with beta 10, 5, 8 and exports.1, didn't work. Same issue. Between I'm trying to implement it in angularclass webpack starter and yeah one more issue, I tried to implement Bootstrap4 and failed (config file kept throwing error and there is an error with 'UMD' path). @mdentinho if this helps, I imported the variable file and that works.

[2016-09-08 05:04] justin808 commented on #12
Are you two using webpack v2 or v1?

bootstrap-loader v2 is ONLY for webpack v2

[2016-09-08 06:31] smitray commented on #12
@justin808, I'm using webpack 2.1.0-beta.21

[2016-09-08 06:59] justin808 commented on #12
@mdentinho @smitray I'll need you two to help debug this issue.

[2016-09-10 07:25] justin808 commented on #12
@smitray @albertomr86 @mdentinho Please try the latest bootstrap-loader. I just released a new version today. We might have a problem with this loader with webpack v2. Maybe that's the difference. We had to create a different version of bootstrap-loader for webpack v2.

[2016-09-10 09:27] smitray commented on #12
@justin808 not much of a help :(
![screenshot_2016-09-10_14-31-42](https://cloud.githubusercontent.com/assets/4408550/18409530/f1caac8a-7766-11e6-9ce3-e6a0db159de6.png)

[2016-09-10 22:47] justin808 commented on #12
@smitray I recommend that you download the source code locally for both the bootstrap-loader and the sass-resources-loader and put in some print statements to help us debug this.

I'd love to help, but I can't right now. Your help is a great asset to the community.

[2016-09-12 11:24] tutts commented on #12
Hey guys, having the same issue here. I'm not using bootstrap-loader, on webpack 1.13.2. let me know if theres something I can do to debug :)

[2016-09-13 07:44] justin808 commented on #12
@smitray, @albertomr86 @mdentinho:
Have you tried out the tips here on debugging: https://forum.shakacode.com/t/debugging-nodejs-and-webpack-loaders/142 ?

@alexfedoseev and I are slammed right. The best we can do is to review a well done PR.

[2016-09-19 19:03] samfrach commented on #12
Hello,

I confirm the issue.

What ever I pass, I get an empty array back from this function in parseResources.js
It seems glob is returning [] ....
locations is for example a string 'app/style/utils.scss' or an array ['', ''] of 2 files...
I've tried with very simple string '*.scss' ....

`exports.default = function (locations) {
  if (typeof locations === 'string') {
    _logger2.default.debug('

[2016-09-20 13:43] smitray commented on #12
@justin808 finally I got this working. Actually, the issue is with the file path. As  @samfrach mentioned it's because of the glob.
People who are using AngularClass starter, need to put address the file path from the root folder. Like I kept my variables.scss file inside config folder so I had to mention the path as './config/variables.scss', even though the webpack common config file is inside t

[2016-09-20 21:05] IAMtheIAM opened #13 "Breaking changes in webpack v2.1.0-beta.23"
Bug:

Webpack v2.1.0-beta.23 no longer allows custom properties on the webpack config object, breaking this plugin since it uses 'sass-resources' on the object. Please update the plugin to be compatible with the upcoming version of webpack 2. Thanks!

[code]

See: https://github.com/webpack/webpack/releases/tag/v2.1.0-beta.23

[2016-09-21 07:53] justin808 commented on #13
@IAMtheIAM Any chance that you can submit a PR, and ideally have another github member verify that the changes work, and I'll review, merge, and push.

Plus, will this break older versions of webpack, such as v1 and older v2?

[2016-09-21 08:25] samfrach commented on #12
thank you, I'm going to try it.
@smitray maybe you could help on my issue : https://github.com/preboot/angular2-webpack/issues/186

[2016-09-21 09:49] justin808 commented on #12
@smitray @samfrach If either of you could do a doc PR, that would be great for the community.

[2016-09-21 16:48] IAMtheIAM commented on #13
I found the cause of the error. `webpack.options.context` is now undefined, it must be passed explicitly to the loader using the LoaderOptionsPlugin

      new webpack.LoaderOptionsPlugin({
         options: {
            sassResources: ['./src/assets/styles/variables.scss', './src/assets/styles/mixins.scss'],
            context: path.resolve(__dirname, '..') // must evaluate to root of project

[2016-09-22 07:49] smitray commented on #12
@samfrach I just went through your issue and I think you can sass-resources-loader. This works really fine. You don't even need to import your lib in your individual scss files. Anyway, I'm not sure which framework you're using, but I tried with TWB 3. You can follow the instructions mentioned in the following link if you're using TWB (Please note: there are issues with TWB4 rc file, you may get f

[2016-09-23 12:52] samfrach commented on #12
Using the webpack-starter project from AngularClass (https://github.com/AngularClass/angular2-webpack-starter), I have all my ng2 components splitted into a .ts, a .html and a .scss file.
In order to use mixins and constants in my scss files, I don't want to add in all of them an "@import '../.././../utils' " (note the relative path constraint..)
Since the sass-resources-loader is able to act as i

[2016-10-17 15:36] prosanes commented on #12
Just to let know, that I had this error when using a path like `../path/to/resource`.
But once i used `./../path/to/resource` I had no error.

[2016-11-03 14:26] andregoncalvesdev commented on #13
that fixed for me @IAMtheIAM . using webpack 2.1.0-beta.25

[2016-11-07 22:01] web2style commented on #13
Actually when learning how to migrate to the new version of webpack I figured out sass-resources is not needed at all in my case. This:

[code]

Will do the same as this:

[code]

May be will be useful for smb else.

[2016-11-08 16:56] AppliedApathy commented on #12
Had the same issue. If it does not find anything at given paths, it will complain about "sassResources wrong type". In my case I used paths relative to webpack config context, but actual lookup directory was the directory, node script was started from.

[2016-11-13 14:43] IAMtheIAM commented on #13
@web2style Very nice, I will try that out as well, thanks for sharing.

[2016-11-16 14:22] IMalyugin commented on #12
In my case this issue is caused by sass-resources-loader ignoring webpack.options.context that allows using project relative paths in webpack.

Fixed by passing webpack.options.context in parseResourses.default, followed by doing
_path.resolve(context, location) in parseResolve.js (for every file given)

[2016-11-20 15:22] tapesec commented on #7
any news about this issue ?

[2016-11-20 16:15] justin808 commented on #7
We need a simple repro case.

[2016-11-20 16:15] #7 closed

[2016-11-20 18:17] justin808 commented on #7
@nic004 does simply not having comments on the same lines fix the issues?

[2016-11-23 05:54] wzup opened #14 "Module build failed: File to import not found or unreadable: css3/border-radius"
Looks like the plugin can't resolve `@include`s within mixins, can it?

Here is a use case and the error.
For `sassResources` I want to use [compass-mixins](https://github.com/Igosuki/compass-mixins) module. It has all mixins that I need in `.scss`. And its mixin files include other files a lot. For example, this entry point for `css3` mixins looks like this: `node_modules\compass-mixins\lib\compa

[2016-11-23 06:15] wzup commented on #14
The issue in not new. Here is the beginning of the the discussion. And as for this time it is not solved
https://github.com/shakacode/sass-resources-loader/issues/6

[2016-11-23 06:15] #14 closed

[2016-12-10 12:07] petermezei opened #15 "Webpack 2 sassResources has wrong type."
Hi Guys,

after updating my webpack to webpack 2.1.0-beta27, I got the error message, sassResources has wring type.

My webpack config part:

[code]

Print screen:

![image](https://cloud.githubusercontent.com/assets/18461114/21073221/ddf67874-bed8-11e6-9b8e-c54a4f8ad5db.png)

Could you help me please?

[2016-12-10 14:01] petermezei commented on #15
Bypass solution.

Removed sass-resources.
Added sass-loader option:

[code]

created _common.scss in /src/assets

[code]

Added @import "common" into the needed sass files.

[2016-12-10 19:17] justin808 commented on #15
@petermezei Is there an issue here? These are 2 very different npm modules.

[2016-12-10 19:46] justin808 commented on #12
@IMalyugin @AppliedApathy @prosanes @samfrach @smitray Should we have a doc change for this?

[2016-12-11 06:52] petermezei commented on #15
hi @justin808 do you mean webpack 2 does not compatible with sass-resources-loader 1.1?

[2016-12-11 07:10] justin808 commented on #15
@alexfedoseev, @robwise, We're using v2 with this package, correct?

@petermezei it should be working with v2!

[2016-12-11 08:58] robwise commented on #15
@justin808 Yep, I'm using webpack v2 with sass-resources-loader 1.1 on two different projects ATM.

[2016-12-11 13:06] alexfedoseev commented on #15
`sass-resources-loader` is broken started from `webpack@2.1.0-beta.23`. Since this version webpack doesn't allow custom properties on config object (eg`sassResources`).

[2016-12-12 03:28] robwise commented on #15
Oh woops, that's right I forgot

[2016-12-12 04:11] Nipol commented on #15
Hello. I saw the following error message:

[code]

[code]

Do you know where this error is? I have no idea.

I am using 'nodejs 6.9.2' and 'webpack@2.1.0-beta.27'.

plz help.

[2016-12-12 13:44] prosanes commented on #12
Seems like a good idea to me.

[2016-12-19 16:57] Razinsky commented on #15
I don't know if it can help but I have the same issue as @petermezei. I see from its screenshot that he is using Typescript and so am I... Maybe there's something here?

[2016-12-27 21:20] justin808 commented on #15
@Nipol @Razinsky @petermezei Any chance of helping us with a review: https://reviewable.io/reviews/shakacode/sass-resources-loader/16#-

and maybe trying this out?

[2016-12-27 21:22] justin808 commented on #15
I pushed up a beta: 1.2.0-beta.1

[2016-12-27 21:23] justin808 commented on #13
I pushed up a beta: 1.2.0-beta.1.

@IAMtheIAM @web2style @andregoncalvesdev Any chance of a review: https://github.com/shakacode/sass-resources-loader/pull/16 and try out the beta?

[2016-12-27 21:24] justin808 commented on #12
@IMalyugin @AppliedApathy @prosanes @samfrach @smitray Can any of you submit a PR for the doc change?

I pushed up a beta: 1.2.0-beta.1 for webpack v2 support: https://github.com/shakacode/sass-resources-loader/pull/16

[2016-12-29 08:05] iantanwx commented on #12
If this is still broken for you, use an absolute path, like so:

[code]

`glob` can't deal with relative paths, which is used to resolve paths in this loader.

[2017-01-11 06:42] avgalon opened #17 "TypeError: Path must be a string. Received undefined webpack_2.2.0-rc.3"
**webpack snippet:**
{
          test: /\.scss$/,
          exclude: /node_modules/,
          use: [
            'style-loader',
            'css-loader',
            'postcss-loader',
            'sass-loader',
            {
              loader:'sass-resources-loader',
              options:{
                resources: './src/assets/sass/_constants.scss'
              }
            }
**When usi

[2017-01-11 08:44] justin808 commented on #17
Please submit a PR if appropriate.

[2017-01-11 11:58] avgalon commented on #17
I'm kinda newbee with git....
how can i PR on this branch?

On Wed, Jan 11, 2017 at 10:44 AM, Justin Gordon <notifications@github.com>
wrote:

--

*ThanksAlon Avgil <http://il.linkedin.com/pub/alon-avgil/7/89a/126>*

[2017-01-20 22:09] BenDiuguid opened #18 "webpack2 + ExtractTextPlugin issues"
Hey, so I have forked the repo and modified the example app to provide a reproduction for the error I'm receiving. Here is the link to the [repo's example/](https://github.com/BenDiuguid/sass-resources-loader/tree/alex/webpack-v2/example)

I have been looking at #16 and I cannot get this to work.

https://github.com/shakacode/sass-resources-loader/blob/alex/webpack-v2/src/loader.js#L29
Here, the c

[2017-01-23 08:52] alexfedoseev commented on #18
@BenDiuguid It might be related to [this issue](https://github.com/shakacode/sass-resources-loader/pull/16#discussion_r95525656). Also, I don't think [it's valid](https://github.com/BenDiuguid/sass-resources-loader/commit/8d830698fa39ce2e771e0e506e7427a4521e814d#diff-9bb3de20ef60fb0751fb0025b2cd27eaR28).

[2017-01-23 10:18] alexfedoseev commented on #18
@BenDiuguid I published `1.2.0-beta.2`, try it out.
Also I added [example w/ `extract-text-webpack-plugin`](https://github.com/shakacode/sass-resources-loader/tree/alex/webpack-v2/example).
It works for me:

<img width="1280" alt="screen shot 2017-01-23 at 18 07 29" src="https://cloud.githubusercontent.com/assets/4244251/22199989/24639e36-e198-11e6-9699-a6c067e67fdb.png">

[2017-01-23 12:15] serheyShmyg opened #20 "Query string options"
Hi, I have  a task, which require couple different options for 'sass-resources-loader'.
Is it possible to add query string options?

[2017-01-23 16:29] BenDiuguid commented on #18
Should [importLoaders: 2](https://github.com/shakacode/sass-resources-loader/blob/alex/webpack-v2/example/webpack.prod.config.js#L38) be `3`?

also shouldn't it be `options` instead of `query`? [From Migration guide](https://webpack.js.org/guides/migrating/#module-loaders-is-now-module-rules)

I believe that `query` works currently, (I have to solve some other issues now, but that shouldn't be too

[2017-01-23 18:02] BenDiuguid commented on #18
So after debugging a different issue, this may be a problem with ExtractTextPlugin, because it looks like ExtractTextPlugin does not relay the `options` currently.

i.e., I had to switch from options to query for css-loader: http://stackoverflow.com/questions/41021614/webpack-2-css-modules-support

[2017-01-23 22:13] gilhanan commented on #18
@BenDiuguid can you show the correct syntax? thanks!

[2017-01-24 15:58] BenDiuguid commented on #18
I have brought this up [here](https://github.com/webpack/extract-text-webpack-plugin/issues/353) So this is good to be closed 👍

[2017-01-24 15:58] #18 closed

[2017-01-31 16:15] vanyadymousky commented on #15
Tested with webpack 2.2.1, sass-resources-loader v 1.0.2 works perfectly, 1.2.0-beta.2 doesn't work at all.

[2017-02-02 09:18] alexfedoseev commented on #15
@vanyadymousky If you want to get help w/ the issue, provide more details, e.g.:

1. error stack or screenshot of the error
2. repo w/ your configuration to reproduce the issue

[2017-02-02 09:30] justin808 commented on #20
@serheyShmyg Please feel free to provide a well documented PR. We'd love to consider it.

[2017-02-02 09:43] serheyShmyg commented on #20
I saw, pull request about webpack 2.0 and there is query option is present.
Do you plan merge it https://github.com/shakacode/sass-resources-loader/pull/16?

[2017-02-03 09:36] alexfedoseev commented on #20
@serheyShmyg I'll release #16 in the next couple of minutes, closing this. Feel free to reopen if it's not solved by #16.

[2017-02-03 09:36] #20 closed

[2017-02-03 09:54] alexfedoseev commented on #17
Fixed in `1.2.0`.

[2017-02-03 09:54] #17 closed

[2017-02-03 09:56] alexfedoseev commented on #15
Fixed in `1.2.0`.

@vanyadymousky If you still experience problems w/ `1.2.0`, feel free to create new issue. Please, don't forget to provide details I mentioned above.

[2017-02-03 09:56] #15 closed

[2017-02-03 09:56] alexfedoseev commented on #13
Fixed in `1.2.0`.

[2017-02-03 09:56] #13 closed

[2017-02-03 10:00] alexfedoseev commented on #12
Should be fixed in `1.2.0`.
Note about missing `context` also added to README.
If anyone still experiences problems, please, create new issue as this one became quite messy.

[2017-02-07 04:15] jmandreslopez opened #22 "Context missing"
Angular: 2.4.6
Webpack: 2.2.1
sass-resources-loader: 1.2.0

This is my webpack.config:

[code]

and every time I tried to build I'm getting this error:

`[sass-resources-loader]:  `options.context` is missing. Using current working directory as a root instead`

If I comment the 'sass-resources-loader' section the system works fine.

What am I missing?

[2017-02-07 06:42] alexfedoseev commented on #22
@jmandreslopez Is this an error or just warning?

Most likely your config doesn't have [`context`](https://webpack.js.org/configuration/entry-context/#context) defined, so `sass-resources-loader` uses `process.cwd()` to resolve paths to files with resources.

[2017-02-07 18:33] jmandreslopez commented on #22
You're right, is a warning. My bad.

How do I get rid of it? I don't have context defined on my config but even adding:

`context: '.'`

I'm getting the same warning.

[2017-02-07 19:49] jmandreslopez commented on #22
Found the solution:

[code]

Thanks :)

[2017-02-07 19:49] #22 closed

[2017-02-08 08:11] alexfedoseev commented on #22
@jmandreslopez Also try:

[code]

The idea is to pass an absolute path to your `context` as webpack might ignore `'.'` as it's not a univocal location and it won't treat it as `__dirname` for you.

[2017-02-15 14:30] LeonardoGentile opened #23 "Question about rules duplication"
Hello, thanks for this 👍

I've been studying the migration from old (global) sass files to css modules (still using sass) with webpack and react.
As I've understond given the nature of css modules, wether by using this loader or not, we need to import the common sass files (vars, mixins, extr) into each of the sass file requiring them.

At this point something is not clear, wouldn't this duplicate

[2017-02-15 14:54] alexfedoseev commented on #23
@LeonardoGentile Sass won't render any mixin / variable unless it's used to render css class or any other renderable element. So as long as you don't have any renderable element inside resources files, it will be fine. See [README#usage](https://github.com/shakacode/sass-resources-loader#usage).

[2017-02-15 14:54] #23 closed

[2017-02-15 15:06] LeonardoGentile commented on #23
@alexfedoseev what do you mean by renderable elements? I guess `.my-class {}` selector would be a renderable element, isn't it?

The thing is that I've inherited a code base where there are hundreds of base classes that will never be used in the html (as "rendered" element) but extended by more specific classes sass classes.
I guess in this case things won't work, right?

[2017-02-15 15:21] alexfedoseev commented on #23
Yes, and you shouldn't put such elements in the resource file.

I guess in this case things won't work, right?

Right.

[code]

[2017-02-15 15:26] LeonardoGentile commented on #23
👍  thanks

[2017-02-16 08:09] aight8 commented on #22
Why context must defined as global option?

The doc says:
[code]

Is this a difference in webpack 2 ?!

[2017-02-16 10:48] alexfedoseev commented on #22
It's not required. But w/o context I can't resolve relative paths, so using `process.cwd()` instead. If it doesn't work for you for some reason, just provide `context`.

[2017-02-27 12:21] Delliant opened #25 "How to set indentedSyntax: true in Sass-resources-loader"
How to set `indentedSyntax: true`  in sass-resources-loader? I use sass syntax in my *.sass files and sass-resources-loader after build project output errors in console "Unclosed parenthesis"

![errors](https://cloud.githubusercontent.com/assets/23186290/23361187/6e6adeb2-fd00-11e6-8b2e-97147036e074.png)

[2017-02-27 13:26] Delliant commented on #25
Issue resolved. I added in utils.js `sass: generateLoaders('sass', {indentedSyntax: true, data: '@import "~global_styles"'})`

[2017-02-28 09:44] justin808 commented on #25
@Delliant should we have a doc PR on this one?

[2017-03-01 18:14] idangozlan opened #26 "Is there anyway to load the resources inline for development use with Server Side Rendering?"

[2017-03-06 21:41] northkode opened #27 "Getting weird error"
Getting this error on build.

[code]

[2017-03-14 14:55] BenDiuguid opened #28 "Use loader-utils.getOptions"
Hey, I just wanted to report this issue.

When using `sass-resources-loader` I am seeing this being logged when running webpack.

(node:68309) DeprecationWarning: loaderUtils.parseQuery() received a non-string value which can be problematic, see https://github.com/webpack/loader-utils/issues/56
parseQuery() will be replaced with getOptions() in the next major version of loader-utils.
More found in

[2017-03-17 16:41] domsayswow opened #30 "Module build failed with @extend"
All mixins and variables are being imported as such with no problems:

`
sassResources: [
path.join(SITES_PATH + SCHEMA + '/static/scss/_variables-site.scss'),
path.resolve(__dirname,'../' + TSJ_UI_FORCE_BASE + '/static/tsj_core/scss/variables/_variables-overrides.scss'),
path.resolve(__dirname,'../' + TSJ_UI_FORCE_BASE + '/static/tsj_core/scss/variables/_variables-ts.scss'),
path.resolve(__dirnam

[2017-03-23 05:17] Skaronator commented on #30
Can confirm this, got the same issue with boostrap.

[2017-03-23 08:48] alexfedoseev commented on #30
@domsayswow @Skaronator Sorry, we don't use `@extend` as it's considered a bad practice, so PR is welcome.

[2017-03-23 08:52] Skaronator commented on #30
Thanks for the quick response. Unfortunately Bootstrap use the extend command in 3 files (Buttons, Form, Grid).

My current workaround is to use just the files, that I need instead of a simple wildcard.

[2017-03-23 22:01] levity commented on #26
Depends on your server-side rendering setup! I've been exploring this question myself. What I've done, which my setup that depends on [css-modules-require-hook](https://github.com/css-modules/css-modules-require-hook), is to use a pretty simple hack: I just modified the code that processes each file to manually prepend the @import statements.

[2017-03-24 03:28] justin808 commented on #26
@idangozlan why would you care about styling for server side rendering?

[2017-03-24 03:35] levity commented on #26
For server-side rendering you just care about getting the generated classnames to match what they would be if you generated them on the client side. But accomplishing that can be tricky if you, say, want to `@extend` something from a file that you add as a resource in `sass-resources-loader`.

[2017-03-31 15:44] ghost opened #31 "Possibly not just sass-resource-loader"
I suggest you rename this with [sass|post-css|less|whatever]-resources-loader instead of sass-resources-loader. I am using this with post-css and it works as intended, I had to read your code to give me a hope to try it :), I guess your title would put off many people like me.

[2017-04-01 07:59] justin808 commented on #31
@alexfedoseev This is a good idea. I suggest we change the repo name to resources-loader.

I reserved https://www.npmjs.com/package/resources-loader.

[2017-04-01 08:10] justin808 commented on #27
@northkode Did you figure this out?

[2017-04-01 08:10] justin808 commented on #28
@BenDiuguid We're reviewing. Sorry for the delay.

[2017-04-01 08:11] justin808 commented on #25
@Delliant should we doc this before closing this issue?

CC: @alexfedoseev

[2017-04-05 07:15] alexfedoseev commented on #31
I guess make sense, tho it requires some investigation and testing before changing-all-the-things.

Also, Post-CSS handles it way better as it uses js files for this, so it's possible to share variables w/ JS modules, so I wouldn't suggest it for Post-CSS users.

[2017-04-09 19:30] NaomiRison opened #32 "import error in sass"
I have been learning SASS for the  past 3 weeks. All of a sudden it cant find the _variables.scss file and its been in a folder called partials  since I started learning this.

Error: File to import not found or unreadable: partials/variables.

[2017-04-10 05:25] alexfedoseev commented on #32
@NaomiRison General advice: provide a repo to reproduce your issue.

I'm guessing here, as you haven't provided a code to reproduce, but: this loader uses `fs` to resolve files w/ resources. Please make sure paths declared in your webpack config are exactly the same as in your file system: w/ extensions, no magic underscores etc.

[2017-04-10 05:27] alexfedoseev commented on #28
Merged and released.

[2017-04-10 05:27] #28 closed

[2017-04-10 05:29] alexfedoseev commented on #27
I believe it's something not related to this loader, but @northkode local environment, as `fs` is standard node's module and should be available out of the box.

@northkode Feel free to reopen if I'm wrong.

[2017-04-10 05:29] #27 closed

[2017-04-10 05:36] alexfedoseev commented on #26
I don't fully understand the case, but FYI this loader does inline all resources.

[2017-05-10 08:14] davodaslanifakor commented on #17
how fix this problem???
I have some problem...

[2017-05-10 10:12] justin808 commented on #17
@davodaslanifakor Upgrade to 1.2.0.

[2017-05-27 06:36] andrewmartin opened #35 "Something wrong with provided resources"
Hi there, looking forward to getting this loader in action!

I'm hitting a strange error with a pretty basic setup, and I dug through the issues but couldn't find  anything relevant. Apologies if this has been addressed.

I'm seeing this error:

[code]

Here's my snippet from `module.rules` in my webpack config:

[code]

I've tried using `path.join` to define my path as well. Any idea what I might

[2017-05-27 06:50] andrewmartin commented on #35
Quick update here. So, I actually got things working (issue with my path), but I'm hitting another strange error, and was curious if you could chime in or have seen this before.

In my `resources.scss`, I'm importing another file, `variables.scss`, which exists in the same directory.

However, when I import it, it chokes and says `File to import not found or unreadable: variables.`.

I'm thinking

[2017-06-09 21:29] justin808 commented on #35
@andrewmartin Any updates?

[2017-06-09 21:39] andrewmartin commented on #35
@justin808

So, I ended up using the option in the `sass-resources-loader` config. I'm not sure there's a way around this, I'm guessing there's something wonky with where this loader is looking for includePaths in the SASS. I guess when in doubt, it's best to not `@import` in the actual `resources` file, and instead just define it at the webpack config level.

I'll close this for now.

[2017-06-09 21:40] andrewmartin commented on #32
I just saw this, but you might want to look at our discussion here, it may help.

https://github.com/shakacode/sass-resources-loader/issues/35#issuecomment-307504385

[2017-06-10 00:46] Igor-Vuk commented on #35
I am also hitting this problem. I am importing _variables.scss file from Bootstrap and when I use `@import "node_modules/bootstrap/scss/_variables"` inside sass-resources.scss file it works great but when I use it inside webpack-config resources i get undefined. It can not find it. I would leave it as it is but documentation suggest not to use @import inside resources file but better to put it in

[2017-06-10 01:15] andrewmartin commented on #35
@Igor-Vuk

Out of curiosity, were you able to `@import 'some_file_relative_to_resources.scss';`?

[2017-06-10 01:32] Igor-Vuk commented on #35
Hi @andrewmartin , I just tried it but I couldn't do it. It is probably related to my second EDIT in post. Same problem.

[2017-06-14 16:16] mmase commented on #35
Has anyone found a way to successfully import files into resource files?

[2017-06-14 18:35] andrewmartin commented on #35
@mmase

The best solution I've found that isn't really much of a major issue, is to add them into the webpack config, something like the example above, but probably even better using `path.resolve`:

[code]

It'd be nice if this were added in the docs; @justin808 what do you think? I wouldn't mind submitting a PR if you think worthy.

[2017-07-06 10:49] CheeseSucker opened #36 "BOM should be removed before concatenating files"
The UTF8 byte order markers are not removed before the files are glued together.
This means that the BOM ends up in the middle of the scss-document and confuses sass-loader.

Result:
`Invalid CSS after "...ite-2: #ffffff;": expected 1 selector or at-rule, was "﻿"`

[2017-07-06 17:14] northkode opened #37 "Loader-Utils upgraded to 1.1.0 and there are issues please change package.json file"
can you please change the package.json file to load 1.0.4 instead of ^1.0.4, loader-utils 1.1.0 is causing tons of build errors.

[2017-07-06 22:51] justin808 commented on #37
@northkode Should we update this package to support loader-utils 1.1.0?

@alexfedoseev?

[2017-07-06 22:52] justin808 commented on #36
@CheeseSucker Can you please submit a PR with:

1. An example case of reproducing this issue.
2. A fix for this.

CC: @alexfedoseev

[2017-07-07 21:47] IAMtheIAM opened #38 "Module build failed: Error: Something wrong with provided resources. Make sure 'options.resources' is String or Array of Strings."
The plugin throws error with webpack 3.1.0
[code]
[code]

Upon debugging webpack, it appears  `sass-resources-loader\lib\utils\parseResources.js` line 34 is returning blank. Glob.sync is not returning the absolute path. So in `sass-resources-loader\lib\loader.js` line 54, `var resourcesLocations ` is set to empty

[2017-07-08 13:14] jackmatrix opened #39 "How to use sass-resources-loader with compass and susy ?"
I was using since now `sass-loader` to compile scss powered by `compass` and `susy`.

However my setup has changed now and i have to use `sass-resources-loader`. It's works perfectly but i am running into some difficulties to get `compass` and `susy` to be working. I get this error :

`(Emitted value instead of an instance of Error) postcss-import:`
`.../styles/scss/nav.scss:3:1: Cannot find modul

[2017-07-08 19:20] Maushundb commented on #38
Getting the same with Webpack 2.6

[2017-07-16 07:19] justin808 commented on #35
@mmase, are these instructions good with Webpack 2/3?

Let's see what @alexfedoseev thinks about adding this to the docs.

[2017-07-16 08:02] alexfedoseev commented on #35
Hey everybody, I just merged and published https://github.com/shakacode/sass-resources-loader/pull/34. It should solve this issue, but keep in mind `@imports` in SCSS files w/ resources (instead of an array of paths in config) slow down incremental builds, so watch out.

[2017-07-17 09:13] paleite opened #40 "1.3.0 can't find resources, but 1.2.1 can"
Sass-resource-loader has been working fine with 1.2.1, but when I upgraded to 1.3.0 it stopped resolving the paths correctly.

Here's my error-output. Note that it is looking for something in `../../scss/` a folder that has never existed on my setup.

My `webpack.config.js`:
`  module: {
    rules: [
      {
        test: /\.scss$/,
        use: [
          'style-loader',
          'css-loader',

[2017-07-17 17:04] justin808 commented on #40
@coditect and @alexfedoseev can you guys check this out? If not, I think I'll revert back to the older version.

[2017-07-17 17:10] alexfedoseev commented on #40
I'll take a look. It might be an issue w/ `~` node modules prefix.

[2017-07-17 21:54] coditect commented on #40
`@import` statements in Sass are relative to the file that contains them.  If `_sass-resources.scss` is in the same folder as `src/scss/variables` and `src/scss/mixins`, then those imports should really be:
[code]
The existing code worked prior to the addition of import rewriting because it relied on Sass using the project root as the base directory for resolving imports in SCSS files included via

[2017-07-18 21:54] FreakinaBox opened #41 "error loading scss file on windows"
I set this lib up and have it working on my Ubuntu machine like:
[code]
A coworker tried running it on windows and got error
[code]

it seems very similar to the error I found here:
https://github.com/shakacode/bootstrap-sass-loader/issues/14

Is it possible that this lib needs the same update?

[2017-07-19 12:40] paleite commented on #40
@coditect I'm afraid that didn't fix it either. It seems as though sass-resources-loader is trying to get the scss-files relative to its own location, rather than the project root. For example, doing ../../src/scss/variables worked for one scss-file that was 2 directories deep, but not for another file that was 3 directories deep.

[2017-07-24 18:44] AymanJitan commented on #40
the latest build fails to load sass resources, here is an example
https://github.com/AymanJitan/webpackular/blob/master/webpack.config.js#L29
This used to work well in 1.2.1

[2017-07-24 20:59] justin808 commented on #40
@coditect @alexfedoseev @paleite @AymanJitan:

Shall we rollback to 1.2.1 for 1.4 and create a beta version for 1.5 that includes this new fix from @coditect?

[2017-07-24 21:43] coditect commented on #41
Possibly related to #40.

[2017-07-24 21:52] coditect commented on #40
@justin808 Roll back as you see fit; I need to spend some time looking at compatibility with Webpack 1 (what @AymanJitan is using), Windows (see #41), and others.

[2017-07-25 06:51] alexfedoseev commented on #40
@paleite @coditect Am I right that this issue is scoped to the use-case when scss is imported from `node_modules` and it doesn't affect common workflows? If it's so, I wouldn't rollback w/ version change, but patched current one and left a note in README w/ link to this issue. Please, confirm and I'll add a note.

Also, @coditect will you be able to look into this? I'm on the product feature atm a

[2017-07-26 03:32] justin808 commented on #40
@coditect @AymanJitan @paleite is the problem with the 1.3.0 release that it does not support Webpack v1? Maybe we can just promote 1.3 to v2, so it's clearly a major change?

[2017-07-26 22:43] IAMtheIAM commented on #40
I think my [issue](https://github.com/shakacode/sass-resources-loader/issues/38) is related to this

[2017-07-26 22:44] IAMtheIAM commented on #38
More at this [issue 40](https://github.com/shakacode/sass-resources-loader/issues/40)

[2017-07-27 03:24] vinceok opened #43 "the loader not work,i tyied v1.2.1 & v1.3.0"
# webpack.base.conf.js[v2]
[code]
# and, the error msg is
[code]

# page where i use scss
[code]

[2017-07-27 20:35] justin808 commented on #43
@vinceok what is a style tag? There's got to more than what you're showing us. In fact, you're best off to create a small test repo. We've never done what you're suggesting with a `<style>` tag. Feel free to request that I reopen this once you get some more info.

[2017-07-27 20:35] #43 closed

[2017-07-27 20:36] justin808 commented on #41
@FreakinaBox Can you please help us debug this. None of us have windows machines.

[2017-07-27 20:40] justin808 commented on #39
@jackmatrix We'll need you to debug this as we don't use this setup. Once you resolve this, please open a doc PR.

[2017-07-27 20:48] darkylmnx opened #44 "error loading .sass file in .vue files with styles with scss syntax"
I have a simple Vue.js app, with .vue files that can use styles with preprocessors like sass (with scss or sass syntax)

I use the scss syntax, but my css framework, bulma css, uses sass syntax, so when i try to import one of it's sass files globally, it doesn't seem to work.

here's how i added the global file

![image](https://user-images.githubusercontent.com/1426357/28691519-8f82aa24-731d-11e7

[2017-07-27 21:38] justin808 commented on #44
@darkylmnx None of the maintainers is using Vue. Can you please help us debug this and create either a doc or code PR to address this issue.

[2017-07-27 21:38] justin808 commented on #44
@darkylmnx feel free to request re-opening this issue.

[2017-07-27 21:45] darkylmnx commented on #44
@justin808 well i think you misunderstood the problem here, it has no relation with Vue itself, because as i said, when i load a .sass file in vue without using your loader, it works fine, it's just cumbersome to add my sass file in each of my scss files.

But, when i try to include it globally with your loader, it doesn't work. Whereas the .scss file above works indeed.

![image](https://user-ima

[2017-07-27 22:07] justin808 commented on #44
@darkylmnx Please submit a PR with a reproduction case that we could add to our test cases:

https://github.com/shakacode/bootstrap-loader/tree/master/examples

I'll re-open again once you do that.

The issue might also be related to Windows vs. Unix

[2017-07-27 22:07] #44 closed

[2017-07-29 18:37] warent commented on #12
FWIW: I was just receiving this error:

[code]

Even though options.resources was a String (also tried with a single index array). The problem turned out to be a typo in my path (wrong file name). Please consider updating the error text as it can be quite misleading!

[2017-07-30 05:00] justin808 commented on #12
@warent Can you please reproduce your issue and submit a PR for this improvement. That's a good idea.

[2017-07-31 09:48] alexfedoseev commented on #40
@coditect @AymanJitan @paleite @IAMtheIAM @justin808 I will merge https://github.com/shakacode/sass-resources-loader/pull/45 once it's ready. If this PR won't fix these issues, I incline to remove support for SCSS imports, b/c we don't use it and there are no maintainers to take care of it. No feature is better than a buggy one.

[2017-07-31 11:00] alexfedoseev opened #46 "Support of @imports from within SCSS files"
I see a number of issues raised due to added support of `@import`s from within SCSS files. This is a non-recommended way of using this loader (mainly for performance reasons). We have 2 opened PRs w/ fixes (https://github.com/shakacode/sass-resources-loader/pull/42, https://github.com/shakacode/sass-resources-loader/pull/45), these will be merged as soon as they are ready. If these PRs won't solve

[2017-07-31 11:07] alexfedoseev commented on #40
Also, please comment on https://github.com/shakacode/sass-resources-loader/issues/46

[2017-07-31 15:13] adam-lynch commented on #41
I've the same problem. I've tried a glob like @FreakinaBox has, a glob with backslashes, and one with double-backslashes, but no luck.

[2017-07-31 15:41] adam-lynch commented on #41
Ran into this Appveyor (you should probably use that + write tests so this kind of thing doesn't happen?) so I can't debug properly. I had a look through the code and it's not clear what's going on to me but I took out some snippets and ran them (on my Mac) with paths containing backslashes, etc. but can't see the problem. I think we're going to have to just remove sass-resources-loader for now.

[2017-08-07 19:09] FreakinaBox commented on #41
@justin808 didn't get the notification on your mention of me till now. yes, I can help.

[2017-08-07 20:11] IAMtheIAM commented on #46
I use @import like this

Root level app.style.scss
[code]

[code]

I thought that is pretty standard for writing scss?

[2017-08-10 10:30] bridzius commented on #41
@FreakinaBox - an identical error has been fixed in https://github.com/shakacode/sass-resources-loader/pull/42 - have you tried basing off of that PR?

[2017-08-10 15:18] FreakinaBox commented on #41
@bridzius
I am using `"sass-resources-loader": "shakacode/sass-resources-loader#9f65029",` inside my dependencies and now it cant find the loader

[code]

[2017-08-14 08:55] Jonathan002 opened #47 "Can't get loader to recognize $vars"
I'm trying to get this loader to work with the angular starter kit:
https://github.com/AngularClass/angular-starter

I'm not so sure entirely on what's happening under the hood as the webpack compiles properly with this config added:

[code]
(I know the path is right as I will get this error if it wasn't )
[code]

Basically though when trying the loader in action, if I add $vars to assets.scss
`$v

[2017-08-15 23:35] jeerbl opened #48 "Is there any way to load SASS ressources generated by another loader?"
Hi!

Let's say I have a loader (actually `webfonts-loader`) that generates SASS. Would it be possible to include this generated SASS file?

For example like this:
[code]

Cheers,
Jerome

[2017-08-18 14:51] nemad opened #49 "Webpack 3 compatibility?"
Is this compatible with webpack 3? I'm getting a strange issue since I updated:

Any idea what can cause this? Config is the same as in the guide, and worked fine until now.

[2017-08-19 11:51] joenil opened #50 "got an `Module build faild` error when I inject a less file resource"
something like this:
[code]

[2017-08-21 11:03] milewski opened #51 "Include node_modules sass files?"
Hello i cant get node_modules included this way.

[code]

i end up creating a `mixing.scss` file importing`'~csstyle/csstyle` inside to make it work.. but as advised in the README.. do not @import stuff inside your resources file.... or you will get low performance....

is there any solution to this?

[2017-08-24 18:16] justin808 commented on #49
@alexfedoseev Are we using the sass-resources-loader with Webpack v3 in https://www.friendsandguests.com?

[2017-08-24 18:17] justin808 commented on #50
I don't think less should be supported. @alexfedoseev correct me if I'm wrong.

@joenil can you use a sass file?

[2017-08-24 18:17] #50 closed

[2017-08-25 21:13] mvilera commented on #44
@darkylmnx did you verified it's not related to the lack of indentedSyntax?

[2017-08-26 20:30] darkylmnx commented on #44
@mvilera as explained above i'm using the Scss syntax no the Sass syntax so no indent is needed in my files, BUT, the css framework i'm using, is using Sass syntax (so indented) and why i import it using sass-ressources-loader this is the bug, whil when i'm import it directly in a scss file it works perfectly so i don't understand.

[2017-08-30 18:34] imakatman commented on #40
Any update on this issue?

[2017-09-13 22:47] IAMtheIAM commented on #40
Please fix and upload next version to npm, its really a pain to have to downgrade back to 1.2.1 every time I run npm-check-updates

[2017-09-14 05:42] justin808 commented on #40
@imakatman, @IAMtheIAM I'm happy to consider a PR.

@alexfedoseev is this fixed but not yet released?

[2017-09-25 07:19] alexfedoseev commented on #51
@milewski Nope, you can't, b/c it's not in SCSS scope so you can't use SCSS syntax. These paths are used by `fs`: it reads content of a file and loader inlines it, so just provide an absolute path to your resources files.

[2017-09-25 07:19] #51 closed

[2017-09-25 07:23] alexfedoseev commented on #49
@justin808 Yes, we do.

I'm not sure if this issue is related to Webapck 3. @nemad Can you provide a repo to reproduce? Without it, I can't say why `$color` is `undefined`.

Closing this for now, feel free to reopen w/ the link to a repo.

[2017-09-25 07:23] #49 closed

[2017-09-25 07:29] alexfedoseev commented on #48
I don't think so unless you can try to feed path to a generated file via `sass-resources-loader`'s `options.resources`. TBH I don't remember in which moment `fs` reads stuff from a file system.

[2017-09-25 07:36] alexfedoseev commented on #47
@Jonathan002 Sorry, never used this option, can't say what's going on here. But if you see this:

[code]

it means that loader is failed and resources won't be available in your SCSS modules.

[2017-09-25 07:47] milewski commented on #51
"that could be a easy feature to add" detect the existence of ~ and replace with the path of node_modules.. i might do a PR later

[2017-09-25 07:53] alexfedoseev commented on #46
@IAMtheIAM Yep, but it causes performance issues and regressions, so I'm trying to be pragmatic here: if it's faster and safer to list these files in a webpack config, then this is the way to go.

All in all, there are few options here:
1. Things might be fixed in `1.3.1` so everyone is happy 🤞
2. Things are still broken and you can fix them **and maintain** this functionality.
3. Things are still

[2017-09-25 07:55] alexfedoseev commented on #41
Try `1.3.1`. Feel free to reopen if it won't solve your issue.

[2017-09-25 07:55] #41 closed

[2017-09-25 07:56] alexfedoseev commented on #40
`1.3.1` is released. Feel free to reopen if it won't solve this issue.

[2017-09-25 07:56] #40 closed

[2017-09-25 15:12] paleite commented on #40
The problem still persists, unfortunately.

On Mon, 25 Sep 2017 at 09:56 Alex Fedoseev <notifications@github.com> wrote:

[2017-09-29 19:38] TMiller00 commented on #40
The problem persists.

This is the setup I'd I like to achieve.
[code]

I receive two separate errors under different circumstances

1) When I build with the above setup, the build fails and I get an error saying that the mixins that should be in `bourbon-neat` can't be found
2) When I comment out the resource for `_custom.scss`, I get the error saying `Something wrong with provided resources. Mak

[2017-09-29 23:07] IAMtheIAM commented on #46
@alexfedoseev  Crossing fingers for solution 1.

Can you explain solution 3 better? For example, how does global.js feed the scss into webpack? So I export an array of resolved paths to .scss files, but then now it seems I'll need some new loader to process that file in webpack since its a .js file now. Any more tips would help so I can prepare if that needs to happen. Thanks

[2017-09-30 09:43] nemad commented on #49
Okay, so actually it was a problem with the bootstrap beta 4, I had to include some other scss file before the other. (there wasnt any info about this when I wrote this issue back then.) Just leave this here, might help someone.

[2017-10-02 12:16] chetzof commented on #40
Can confirm

[2017-10-09 13:00] paleite commented on #40
Any update on this? The problem still persists here.

@justin808 : This is related to Webpack v2/3 in my case.

@alexfedoseev : No, not node_modules. It's trying to import from the src, but from a path that's never existed before. It's resolving incorrectly. in > 1.2.1

[2017-10-09 16:12] alexfedoseev commented on #40
@paleite I'm going to revert changes introduced in `1.3.0` tomorrow.

[2017-10-09 16:33] alexfedoseev commented on #46
@IAMtheIAM For example, there's SCSS file w/ resources index at path `path/to/resources/index.scss`:

[code]

In webpack config loader is defined like this:

[code]

Instead of using SCSS imports you can do the following:

`path/to/resources/index.js`

[code]

`webpack.config.js`

[code]

[2017-10-11 18:12] th3fallen opened #53 "Variables not being found?"
ATM i have a resource file with the following

[code]

and in variables there is...
[code]
yet i get this error...

[code]

with the following webpack config

[code]

[2017-10-12 15:56] IAMtheIAM commented on #46
I see, thanks, that does make sense. I would still put that at last resort, because it loses the ability to use "navigate to code" in the IDE and quickly switch to the scss file. But if this is the only way, then it will do.

[2017-10-18 15:22] th3fallen commented on #53
@alexfedoseev Sorry to ping you but any ideas?

[2017-10-19 00:33] devmarco opened #54 "Import SASS resources for each entry"
I would like to know if it's possible to specify a set of resources for each entry point.

[code]

Let's say I have the code above, I want to know if is possible specify a set of global resources per entries.

[2017-10-19 17:03] IAMtheIAM commented on #46
Good news for all. Version 1.3.1 fixed the issue! My @import statements now are resolve with no problem. Thanks for fixing this @alexfedoseev! This issue can be closed.

[2017-10-19 17:04] IAMtheIAM commented on #40
I'm using 1.3.1 and it resolves the files just fine. Did you revert the changes in 1.3.1 or in the current unreleased version @alexfedoseev ?

[2017-10-19 17:08] alexfedoseev commented on #40
@IAMtheIAM I haven't done anything yet (since `1.3.1` release).

[2017-10-19 21:04] #46 closed

[2017-10-20 08:42] paleite commented on #40
Here's a repo with the bug reproduced:
https://github.com/paleite/sass-resources-loader-bug

Instructions included. Hope this helps!

Ping @alexeyMohnatkin @justin808 @coditect

[2017-10-20 17:19] mwq27 commented on #53
I'm running into the exact same problem.

[2017-10-20 17:21] th3fallen commented on #53
i actually solved mine, without needing this lib by doing this

[code]
@import "~bootstrap/scss/functions";
[code]

[2017-10-20 17:22] #53 closed

[2017-10-20 17:40] mwq27 commented on #53
Awesome, thank you.  After looking at your solution, I realized i was getting the error because in my `.bootstraprc` file I was loading my resources file in the "preBootstrapCustomizations" field, instead of the post "bootstrapCustomizations" field.

[2017-10-20 17:45] th3fallen commented on #53
that'll do it too :)

[2017-10-23 12:04] alexfedoseev commented on #40
@paleite Replace content of your resources file w/ this:

[code]

[2017-10-23 12:19] alexfedoseev commented on #40
See added notes: https://github.com/shakacode/sass-resources-loader/commit/f3d2cf6245abac5cc7e03799ab2a810d84a61b91

[2017-10-23 12:21] alexfedoseev commented on #38
I believe this can be closed. `1.3.1` and few notes added in https://github.com/shakacode/sass-resources-loader/commit/f3d2cf6245abac5cc7e03799ab2a810d84a61b91 should resolve these issues.

[2017-10-23 12:27] alexfedoseev commented on #37
@northkode I don't see any errors in the output. Feel free to submit PR w/ `loader-utils` bumped if you still see those.

[2017-10-23 12:27] #37 closed

[2017-10-23 12:28] alexfedoseev commented on #54
Nope, currently it's not possible.

[2017-10-23 15:02] paleite commented on #40
@alexfedoseev Works wonderfully!

[2017-12-07 18:23] crutchcorn commented on #41
I'm still running into this error after upgrading to `1.3.1`

[2017-12-07 20:34] justin808 commented on #41
@crutchcorn can you research this? None of my team is on Windows.

[2017-12-12 00:07] Igor-Vuk opened #55 "Using sourceMap with sass-resources-loader"
Hi guys. I am using sourceMap and sass-resources-loader together. Everything works fine but there is a problem with line number when looking at my source code.

For example. This is the code when looking in code console

1  $lightblue: #00D8FF;
2  $blue: #2C3949;
3  $gray: #333333;
4.  /* Home scene */
5.  $text-color: $lightblue;
6. .container {
7. .align-center {
8.      text-align: center;
9.

[2017-12-19 06:10] praneshr opened #56 "Turn off `options.context` missing warning"
Is there a way to turn off the `options.context` missing warning?

[2017-12-21 15:05] computapars commented on #56
This warning is really annoying, any ideas on how to turn it off?

[2017-12-28 14:00] idknox commented on #49
@alexfedoseev Any chance you could explain how to use this with Webpacker 3?

[2017-12-28 14:11] alexfedoseev commented on #49
@idknox Sorry, I have zero Webpacker 3 experience. Try to open separate issue and describe problems you run into. Somebody might help you out.

[2018-01-10 23:16] t22james opened #57 "sass-resources-loader and css-modules 'composes'"
I'm having an issue when trying to use the css-modules functionality 'composes', like:

*_vars.scss*
[code]

*type.scss*
[code]

*example.scss*
[code]

the issue seems to be that at the time css-modules processes `type.scss` as part of the compose, the variables used in type.scss (which are otherwise used/available via sass-resources-loader when using a class from type.scss directly from js), don'

[2018-01-17 13:01] mrmnmly commented on #44
I'm experiencing same issue here - if I'll use `scss` loader, it works fine, but I wanted to use it with `sass` :/

[2018-01-26 23:00] Vanuan commented on #31
I see how the name is confusing. Probably README should explain clearer what it does.
As I understand it, it loads whatever you throw at it, as long as it's transformed into regular css by previous plugins.

The only thing it does is that it transforms sass syntax into css using some set of resources as additional files.

So the `sass` part  in `sass-resources-loader` means that it loads sass reso

[2018-01-29 15:22] drw89 commented on #49
are there any plan to merge the following branch ( https://github.com/GeReV/sass-resources-loader/commit/b4284e019dfb4417338e323d713f82d68528f828)??

[2018-01-30 02:55] alexfedoseev commented on #49
@drw89 Merged and released `1.3.2`.

[2018-02-12 17:38] Awea commented on #44
@darkylmnx @mrmnmly I get the same issue earlier and after reviewing my webpack configuration everything works fine :

**webpack.common.js**

[code]

**variables.sass**

[code]

[code]

Hope it will helps.

[2018-02-14 13:15] ChucKN0risK opened #60 "SCSS files are found but not imported"
Hi everyone,

**I want** to automatically import some of my `scss` files inside my `vue` components. I followed the doc provided by vue-loader: https://vue-loader.vuejs.org/en/configurations/pre-processors.html

**I don't want** to have to import my variables and my mixins manually inside every vue component like this: `@import '~@/assets/styles/01-utils/_mixins.scss';`

My files are found by `sas

[2018-02-27 15:41] asapzacy opened #61 "Webpack 4"
I didn't see any issues relating to webpack 4 (there's one with v3). Is there anyway to get this working with `webpack@^4.0.0`, `webpack-dev-server@^3.0.0`, and `webpack-cli@^2.0.9`?

Currently getting these errors:

[code]

This happens when trying to do a regular import/composes/mixin (this worked fine with webpack v3):

[code]

[2018-02-27 16:33] asapzacy commented on #61
my bad! just saw a PR that fixes this.. https://github.com/shakacode/sass-resources-loader/pull/59

[2018-02-27 16:33] #61 closed

[2018-03-01 09:26] alexfedoseev commented on #56
Fixed in `1.3.3`.

[2018-03-01 09:26] #56 closed

[2018-03-03 21:15] planetflash opened #62 "Source map line number"

[2018-03-03 21:18] #62 closed

[2018-03-03 21:19] planetflash commented on #62
If anyone has the same issue, it seemed to be due to me having SourceMaps:true set in postCSS options, which is not needed

[2018-03-09 07:20] vinceok opened #63 "question with use @import in index.scss"
in my project（a vue.js & webpack project）, i used package:**sass-resources-loader**,then i found:

i use index.scss as a entry scss file, and import other scss file in index, the project is run ok，but when i review the source code, i find some repeating style in html>head, is there have any solution?

[code]

[code]

[2018-03-12 10:49] alexfedoseev commented on #63
Easy:
1. Read docs: https://github.com/shakacode/sass-resources-loader#usage
2. Remove everything that's renderable from `index.scss` (e.g. `normalize.scss`, `reset.scss` etc).

[2018-03-12 10:49] #63 closed

[2018-03-21 15:06] cneeson opened #64 "Resource file mixins not found"
Hi all,

Thanks for your work on this plugin!

I have two utility files containing variables and mixins for use in all other scss files in the project. The project is organised into Components, each contained within its own folder with a hbs, js, and scss file. I currently only have 5 components, each of which use variables from the util files.

The problem is that only one seems to successfully r

[2018-03-27 17:58] dswright commented on #57
I am having the exact same issue. For now I have gotten it working by directly importing my sass variable files to the css module that defines the css class being composed. But that is exactly what sass-resources-loader is supposed to allow me to avoid.

[code]

[2018-03-28 02:16] justin808 commented on #57
@alexfedoseev Any idea on this one?

[2018-03-28 03:31] alexfedoseev commented on #57
It's simply doesn't work w/ CSS modules `composes` and we use mixins instead.

[2018-03-28 03:41] alexfedoseev commented on #64
Hard to say what's wrong w/o reproducible repo.

[2018-03-29 13:19] david-ogalego opened #65 "Wrong version with happypack"
We are trying to use the loader with [happypack ](https://github.com/amireh/happypack) and we see that there is a problem with version.

We have seen the next code in sass-resources-loader/src/loader.js:

`var webpack = this; var isModernWebpack = webpack.version >= 2;`

Will always be the webpack version? or is it the loader version?

[2018-04-05 20:06] tirodactyl commented on #54
@devmarco did you end up finding a solution for this? We're in the same boat. Right now I'm looking at whether `multi-compiler` will work for us (see [example](https://github.com/webpack/webpack/tree/master/examples/multi-compiler)).

[2018-04-10 13:02] nagman commented on #57
Geez, I'm not alone in this case. Same question here!

[2018-04-19 20:11] trusktr opened #67 "How can we add this to a Vue webpack template?"
For example, here's the webpack config: https://github.com/vuejs-templates/webpack/blob/develop/template/build/webpack.base.conf.js

[2018-05-08 15:42] dylanspurgin commented on #47
@alexfedoseev I am having the same issue. What option are you speaking of? Are you saying that this plugin is not expected to make variables defined in the resources it includes available to the scss in the rest of the app?

Appreciate the plugin and help!

[2018-05-08 15:59] alexfedoseev commented on #47
I was saying is that I'm not familiar w/ `include` option so I can't say why it breaks the loader. You can ignore the part about the error message, I added it b/c I misread first comment in this issue.

[2018-05-15 03:50] mmfjx commented on #54
I also have the problem,  hope to work

[2018-06-06 09:38] ilyaskorik opened #68 "Does not work with webpack 4 in dev mode"
In production it works, resources are imported. In development do not import any resources.

[2018-06-06 09:51] #68 closed

[2018-06-06 09:51] ilyaskorik commented on #68
Sorry

[2018-06-12 13:38] RomainFrancony commented on #67
CSS loaders are generated in ```build/utils.js```, go to line 36 of this file, you will see a condition
[code]
Add this inside the if condition

[code]

I don't know if it's the best way to do it but it work.

[2018-06-13 02:50] justin808 commented on #67
@RomainFrancony If you'd like to make a doc PR, that would be amazing.

[2018-06-13 02:51] justin808 commented on #67
And thanks @RomainFrancony for the help!

[2018-06-13 02:51] #67 closed

[2018-06-13 11:14] RomainFrancony commented on #67
@justin808 I will do the PR this evening

[2018-06-14 08:50] trollepierre opened #70 "Add Webpack 4 section in README"
I would like to see an example of config for webpack 4.
Now I can just see example for webpack 1 and 2.

[2018-06-20 15:55] vbarbarosh opened #71 "Does not work with Webpack 4"
I got the following error:
[code]

webpack.config.js
[code]

Some of the dependencies:
[code]

[2018-06-20 16:10] #71 closed

[2018-06-21 02:46] justin808 commented on #71
1.3.3 definitely works with Webpack v4.

[2018-06-21 02:48] justin808 commented on #65
Try version 1.3.3 and please ask to reopen if not working.

[2018-06-21 02:48] #65 closed

[2018-06-21 06:38] vbarbarosh commented on #71
For some reason I expected that `resources: '~modulename'` will work. But it doesn't. Resources array accepts only strings passed to `glob` function.

https://github.com/shakacode/sass-resources-loader/blob/master/src/loader.js#L40
https://github.com/shakacode/sass-resources-loader/blob/master/src/utils/parseResources.js#L7

Instead of `~modulename` `require.resolve('modulename')` should be used:

[2018-06-25 06:28] chaishi commented on #57
webpack config

{
        test: /\.scss$/,
        use: [
          'style-loader',
          'css-loader',
          'sass-loader',
          {
            loader: 'sass-resources-loader',
            options: {
              resources: [
                './src/assets/color/_color.scss'
              ]
            }
          }
        ]
      }

--------------------------------------------------

[2018-07-05 09:17] Ic3m4n34 commented on #60
I have the exact same problem. Did you find a solution for this?

[2018-07-18 08:07] dingjiamughal opened #73 "failed to resolve files *.less in node_modules"
[code]
files in `src`successful but in `~` node_modules unsuccessful and not prompt any wrong message

[2018-07-20 05:03] #73 closed

[2018-07-31 07:27] Pa-wN commented on #55
Me too.

[2018-07-31 09:18] justin808 commented on #55
I'm pretty sure that the problem is solvable, but it would take some work. I'm open to a PR.

[2018-08-03 04:56] Mitjan11 commented on #65
@justin808

This is currently still an issue. This because HappyPack [provides a fake loader context which has an explicit version set to 1](https://github.com/amireh/happypack/issues/221) (no idea as to why).

However, the original creator of this issue also created a PR to fix this issue by removing the check from the code in this project (which seemed to be a TODO for webpack v2 stable anyway).

[2018-08-07 15:56] AshwinTayson opened #74 "Vue - Global resources throws error"
Hello I have added the config to the utils.js as mentioned but it throws error for all the vue files which contains style tag with lang="sass"

Here is the directory structure
build
--utils.js
src
--assets
----sass
------index.sass
------all other sass files

index.sass
[code]

App.vue
<template>
  <div id="app">
    <router-view class="body"/>
  </div>
</template>

<script>
export default {
  nam

[2018-08-09 12:52] RomainFrancony commented on #74
Try giving the full path of the file in the config:
```path.resolve(__dirname, "../src/assets/sass/index.sass"),```

[2018-08-09 13:38] RomainFrancony commented on #60
It looks like you're using the [electron-vue](https://github.com/SimulatedGREG/electron-vue) boilerplate.

If so you need to change the vue loader config located in ```.electron-vue/webpack.renderer.config.js``` at line 61 (may be different if you did not select the same feature as me but you can search where ```loader: 'vue-loader'``` is).

You will see the sass and scss loader config : ```scss:

[2018-09-07 07:01] aFcFzF commented on #38
the path in options.resources must be a absolute path, eg:
`resources: [path.resolve(__dirname,  './src/assets/styles/variables.scss')]`

[2018-10-07 13:23] unikitty37 opened #76 "Configuring sass-resources-loader using Rails/Webpacker"
I have tried multiple ways to include a `variables.scss` file in a Rails 5.2.1/VueJS/Webpacker project, with no joy. This is what I have for my `webpack/loaders/sass-resources-loader.js`:

[code]

but the Vue component that references a variable defined in `variables.scss` fails to compile with a message `Undefined variable: "$header-background-colour".`

I've tried various other means of specifyi

[2018-10-14 00:14] #70 closed

[2018-10-14 19:53] justin808 commented on #74
@AshwinTayson please open again if this did not fix your issue ^^^.

[2018-10-14 19:53] #74 closed

[2018-10-14 19:55] justin808 commented on #76
@unikitty37 I'm not using Vue nor standalone webpacker. If you were on https://github.com/shakacode/react_on_rails, I could help you better.

Have you tried inserting some debugging print statements to figure out the issue?

[2018-10-14 19:56] justin808 commented on #39
Closing due to inactivity. Please request to reopen if you like.

[2018-10-14 19:56] #39 closed

[2018-10-14 19:57] justin808 commented on #64
Closing due to inactivity. Please request to reopen if you like. If you can provide a super simple example, on Github, demonstrating the issue, we might be able to help.

[2018-10-14 19:57] #64 closed

[2018-10-14 19:59] justin808 commented on #60
Thanks @RomainFrancony for the help.

@ChucKN0risK @Ic3m4n34 Please see the updated docs for Vue.

Closing due to inactivity. Please request to reopen if you like.

[2018-10-14 19:59] #60 closed

[2018-10-14 20:04] justin808 commented on #48
Closing due to inactivity. Please request to reopen if you like.

[2018-10-14 20:04] #48 closed

[2018-10-14 20:05] justin808 commented on #47
Closing due to inactivity. Please request to reopen if you like.

[2018-10-14 20:05] #47 closed

[2018-10-14 20:07] justin808 commented on #36
Closing due to inactivity. Please request to reopen if you like. If you can provide a super simple example, on Github, demonstrating the issue, we might be able to help.

[2018-10-14 20:07] #36 closed

[2018-10-14 20:08] #35 closed

[2018-10-14 20:08] #32 closed

[2018-10-14 20:17] justin808 commented on #31
@Vanuan I wouldn't change the name unless we have tests for `less` like we have in the /test/scss directory. Then again, less is less popular probably than sass. And maybe not necessary for post-css.

[2018-10-14 20:17] #31 closed

[2018-10-14 20:18] justin808 commented on #30
Closing due to inactivity. Please request to reopen if you like.

[2018-10-14 20:18] #30 closed

[2018-10-14 20:18] justin808 commented on #26
Closing due to inactivity. Please request to reopen if you like.

[2018-10-14 20:18] #26 closed

[2018-10-15 02:00] alexfedoseev commented on #9
TBH at this point I'm not even sure what it is about so I guess not relevant.

[2018-10-16 16:37] jvarho opened #79 "Can't find sass resources ERROR with 1.3.4"
Since updating from 1.3.3 to 1.3.4 I get an error like this:

        ERROR in ./~/css-loader?modules&sourceMap&localIdentName=[name]__[local]___[hash:base64:5]!./~/sass-loader!./~/sass-resources-loader/lib/loader.js!./~/import-glob-loader!./src/components/BaseComponent.scss
        Module build failed: Error: Can't find sass resources in your
    config. Make sure loader.options.resources exists

[2018-10-17 09:38] derwaldgeist commented on #79
Same problem here. Broke our production build on a CI machine that wasn't using `package-lock.json`. Introducing breaking changes in a sub-minor is not a good idea :-)

[2018-10-18 06:02] justin808 commented on #79
@jvarho @derwaldgeist can you confirm that you're both on Webpack v1? And the fix for #66 just removed support for Webpack v1?

[2018-10-18 06:03] #9 closed

[2018-10-18 10:03] jvarho commented on #79
Yes, at least my project is on webpack v1.15.

[2018-11-01 19:15] mxdavis opened #80 "How to Properly Import Google Fonts"
What would be the best way to import google fonts into sass without using `@import url('https://fonts.googleapis.com/...);` which breaks the build.

[code]

Thanks!

[2018-11-01 20:52] mxdavis commented on #80
I did it with https://github.com/typekit/webfontloader

[2018-11-01 20:52] #80 closed

[2018-11-02 08:01] derwaldgeist commented on #79
Yes, I am using webpack 1.14.0 in this project.

[2018-11-03 00:36] justin808 commented on #79
@david-ogalego @alexfedoseev

I'd agree with:

Should I push a v2 that removes Webpack v1 support?

[2018-11-03 01:29] derwaldgeist commented on #79
It‘s pretty unusual to drop support for something in a sub-minor release. I would also recommend to do this in a 2.x

[2018-11-06 08:53] derwaldgeist commented on #79
How can I confirm this?

[2018-11-06 11:16] jvarho commented on #79
I don't have a setup where I could test a non-pakaged version easily, sorry.

[2018-11-07 00:19] justin808 commented on #79
OK. See the https://github.com/shakacode/sass-resources-loader/blob/master/CHANGELOG.md

and please try out 1.3.5 and 2.0.0.

Thanks,

Justin

[2018-11-07 00:19] #79 closed

[2018-11-07 13:40] jvarho commented on #79
Confirmed. 1.3.5 fixes the issue for me.

[2019-01-16 06:48] laiwoyaojubaoni opened #83 "react webpack4"
The previous react project first installed sass-resources-loader without reference to any configuration in webpack.config.js to reference global variables. However, after deleting the plugin and reinstalling it, it always reports an error. Whether it is based on the configuration above github or google is wrong. The newly created react project has been reporting an error（以前的 react 项目第一次安装 sass-res

[2019-01-16 09:20] justin808 commented on #83
This is not enough info. Your error says you have an undefined variable.

[2019-01-16 09:20] #83 closed

[2019-01-16 09:59] laiwoyaojubaoni commented on #83
I know that no variables are found, local variables can be found, but now there is a global variable in index.scss. How can I configure to find global variables?

[2019-02-25 16:01] barth12 opened #84 "Webpack 4 config"
Hi guys,
Could anyone share the config for webpack4 in react environment (I've just used react-create-app v2 with webpack 4).
For some reason I'm getting:

[code]

My config is just copied from webpack 2 site example:

[code]

Any help much appropriated.

[2019-02-25 22:19] justin808 commented on #84
@barth12 If you can update this to Webpack v4: https://github.com/shakacode/sass-resources-loader/blob/master/example/package.json, my team will review.

[2019-02-28 05:28] lemonpigpig opened #85 "webpack3.12.0 cannot work for production but for develop"
### i use webpack template utils.js for loader config
my node version is 8.9.3
[code]
**my webpack.dev.config.js**
[code]
### my webpack.prod.config.js
[code]
 ### output
i find the npm run dev the sass-resources-loader is work well but when i run npm run build i found the output css not include the css of use sass only the actual css
now i doubt is the problem of extract css plugin

[2019-03-06 19:09] RavaliPothepalli opened #86 "Havin"

[2019-03-08 01:28] justin808 commented on #86
Pay attention to the path shown in the error message.

Any ideas from that?

[2019-03-11 07:31] Judahmeek commented on #86
You mean the mention of `liftkit.scss`?

[2019-03-11 07:32] Judahmeek commented on #86
@RavaliPothepalli does `node_modules@crown\liftkit-style\assets\scss\liftkit.scss` looks weird. Any idea what `node_modules@crown` means?

[2019-04-11 17:50] betorobson opened #87 "ERROR import multiple files in one @import"
SASS language allow us to import multiple files in on @import. For example:

[code]
However I'am getting this error:
`File to import not found or unreadable: a/y`

This is a small example, in my project I've a lot of kind these @import.

My webpack loader config

[code]

[2019-04-13 00:32] justin808 commented on #87
Hi @betorobson!

1. Can you work around the issue by using 2 imports?
2. If you really want this feature, do you want to make a PR?

[2019-04-15 13:10] betorobson commented on #87
For sure we are doing a work around, which is a import per file.

I will have a look at source code and maybe I can do a PR for you :)

[2019-04-18 12:44] trafium commented on #76
@unikitty37 Which version of vue-loader do you use? I may be able help you configuring it.

[2019-05-29 08:31] bogish opened #89 "Resource path as URL"
How about ability to use URL as resource path?
For example, variables file dynamic and store on s3 and needs to use it for build

[2019-05-30 19:11] justin808 commented on #89
@bogish can you provide a more detailed example?

[2019-06-04 06:57] dannyyu92 opened #91 "How do I use this?"
https://github.com/shakacode/sass-resources-loader#usage

I can't tell from this readme how to use this. What is a resource? Do I need to make a resources.scss file with all my global variables? Where do I put this resources.scss file?

[2019-06-04 14:14] betorobson commented on #55
I found a solution, in `sass-loader` you must add option 'outputStyle: 'compressed'.

Example
[code]

[2019-06-04 14:15] betorobson commented on #62
I found a solution, in `sass-loader` you must add option 'outputStyle: 'compressed'.

Example
[code]

[2019-06-18 23:55] eankeen commented on #31
I'm posting in case anyone else is trying to get this to work with stuff besides sass, or wasn't sure if it would actually work. I was using Nuxt and `nuxt-sass-resources-loader` wasn't quite working. Probably because I'm trying to load a css file to be pared with postcss (with the `postcss-simple-vars` plugin). I put `sass-resource-loader` right after `postcss-loader` in the config, and it works

[2019-07-14 08:24] icemirror opened #98 "the config to vue-cli2.0 is not working"
// package.json
"dependencies": {
    ...
    "vue": "^2.5.2"
},
"devDependencies": {
  "sass-resources-loader": "^1.3.5",
  "webpack": "^3.6.0"
}
// build/utils.js

return {
    ...
    scss: generateLoaders('sass').concat({
      loader:'sass-resources-loader',
      options:{
        resources: path.resolve(__dirname, '../src/asstes/css/_colors.scss')
      }
    }),
    ...
  }

**there is err

[2019-08-06 10:04] ElliotShi commented on #57
for Less, even cannot use mixins.

[2019-08-22 12:31] CyberCookie commented on #57
I've stumbled upon the very same issue when used compose and solved it having imported dependency file manually. Even though variables are defined on the both ends of composes rule - they get lost somewhere in the middle

[2019-08-28 13:00] tombh opened #101 "Why does `rewriteImports` not support paths outside `__dirname(file)`?"
I'm using Google's Material Design framework and decided to try to use `sass-resources-loader` because I hear that importing mixins directly in my SCSS files degrades build times (is this true?). However, it seems that all of the mixins in the framework import other shared mixins and variables from elsewhere in the framework's tree. [For example](https://github.com/material-components/material-com

[2019-09-16 16:26] smorhaim opened #102 "VERY SLOW Reloads"
Using v2.0.1 my browser takes 3 seconds to load angular, then 20 seconds to render the app after every reload.

How can I speed this up?

I compared running ng serve without webpack, and the app runs under 2 seconds for each reload, but when enabling webpack and sass-resource-loader it takes that long!

[2019-10-23 13:31] iliyaZelenko commented on #102
The same problem, it takes a very long time to wait even after the slightest code change. Is there a cache or some kind of optimization?

[2019-11-21 11:58] cowglow opened #107 "Resources invalid path gives miss leading error"
When the file path of the resource is invalid:

[code]
it spits out the error:
[code]

which is misleading because the value of `options.resources` IS a string, but it just invalid

[2019-11-25 08:34] toltarisa commented on #107
did you tried **path.resolve(__dirname, './path/to/resource')**

[2019-11-25 21:25] cowglow commented on #107
Yes, but that's not the issue.
If the resource path is wrong, the error get thrown. To ensure that it is a string. But it is a string, it's just that the file path is wrong, or maybe the develop misspells it, and so to improve debugging, my PR, aims to improve the error message.

[2020-01-04 16:52] lucpotage opened #110 "Support @use along with @import"
I tried to use the loader with the latest sass version and unfortunately it does not seem to support `@use` and `@forward` rules.

This would be a nice addition.

[2020-01-07 07:16] justin808 commented on #110
@lucpotage any chance that you can make a PR?

[2020-01-07 07:19] justin808 commented on #107
I just merged #108.

[2020-01-07 07:19] #107 closed

[2020-01-07 07:20] justin808 commented on #102
@smorhaim @iliyaZelenko Any updates?

[2020-01-07 07:21] justin808 commented on #101
@tombh any update?

[2020-01-07 07:21] justin808 commented on #98
@icemirror any update?

[2020-01-07 07:23] justin808 commented on #91
I just updated the docs. Resources are snippets of Sas that you want available to files like CSS module files.

[2020-01-07 07:24] #91 closed

[2020-01-07 07:24] #85 closed

[2020-01-07 07:25] tombh commented on #101
I stopped using this project :(

[2020-01-07 12:39] iliyaZelenko commented on #102
I did not find a solution to increase speed for my application (Vue + Nuxt.js).

[2020-01-10 16:10] lucpotage commented on #110
Here is more info about the [@use](https://sass-lang.com/documentation/at-rules/use) rule. Also, they [discourage](https://sass-lang.com/documentation/at-rules/import) the use of @import the moment your start using the latest version of Sass.

So, I suppose this loader would become a v3 since it's a breaking change. We should clearly inform developers about it.

I will try to create a PR.

[2020-01-10 18:07] lucpotage commented on #110
I created a PR that I hope you will test. It needs extra work and I did not succeed in testing it properly. If you can, it would be great!

https://github.com/shakacode/sass-resources-loader/pull/111

[2020-01-31 03:29] pangz1 commented on #38
using absolute path still get the error

[2020-02-02 22:55] justin808 commented on #38
@pangz1 any chance that you can dig into this. If a PR is needed, I'll review.

[2020-02-17 13:41] vana-dev commented on #107
same problem...

[2020-04-14 05:04] zincli opened #115 "2.0.3 caused Module build failed: TypeError: fn.apply is not a function"
2.0.3 caused errors.
2.0.1 works fine.

Module build failed: TypeError: fn.apply is not a function
        at applySyncOrAsync (/cloud/source_code/node_modules/_happypack@3.1.0@happypack/lib/applyLoaders.js:342:21)
        at apply (/cloud/source_code/node_modules/_happypack@3.1.0@happypack/lib/applyLoaders.js:269:5)
        at /cloud/source_code/node_modules/_happypack@3.1.0@happypack/lib/applyLo

[2020-04-14 05:40] justin808 commented on #115
@zincli can you try 2.0.2?

[2020-04-14 05:44] justin808 commented on #115
@zincli do you have a reproduction case?

[2020-04-16 09:11] luoye111 opened #116 "The configuration of webpack4 in Vue has no effect"
![image](https://user-images.githubusercontent.com/34934450/79436005-eb0cdc80-8002-11ea-9198-1e6bf394c618.png)
![image](https://user-images.githubusercontent.com/34934450/79437786-3de79380-8005-11ea-9b1b-cba2c0b81dc1.png)

[2020-06-09 22:20] saltnpixels commented on #110
yes! I am looking for this as well

[2020-06-14 09:50] justin808 commented on #110
@saltnpixels if you could submit a PR, I'd surely get it reviewed!

[2020-06-20 14:49] lucpotage commented on #110
Seeing this conversation https://github.com/webpack-contrib/sass-loader/issues/804, I suppose it's important to wait before starting anything with this loader.

In the meantime, I started to use postcss and realize I should have used it earlier. The ecosystem around the @use syntax is not mature. 😐

[2020-07-30 16:40] joepagan opened #121 "Build process gets stuck when this plugin is used"
Not sure why & how this is occurring, but, when this plugin is used in my setup my build process hangs & never completes initially.

Strangely, I can force the build process to complete when I save a "watched" scss or js file at a location not specified as one of the sass-resources-loader paths.

I have setup a custom plugin in my webpack commons config file logging the hooks `afterEmit`, `done` a

[2020-08-05 10:54] toastal opened #123 "Properly rename SASS -> Sass"
http://sassnotsass.com/

[2020-08-11 17:38] ehsanakbarzadeht commented on #84
i have same issue in react and webpack config

[2020-08-17 01:03] #123 closed

[2020-08-17 01:06] justin808 commented on #110
@lucpotage see https://github.com/webpack-contrib/sass-loader/issues/804#issuecomment-653057921

Can you confirm that we've got the `@use` feature fixed?

[2020-08-17 02:55] justin808 commented on #110
@saltnpixels, @lucpotage,  @Tomburgs

# Released version 2.1.0 🎉.

[2020-08-17 02:55] #110 closed

[2020-08-19 07:47] justin808 commented on #116
You'll have to do some research on this one. Feel free to request this to be reopened. @luoye111, maybe you already solved this?

[2020-08-19 07:47] #116 closed

[2020-08-19 23:22] zmanning29 commented on #76
Having this same issue using create-react-app.

[2020-08-19 23:30] justin808 commented on #76
@zmanning29 can you try the previous release to see if the issue is with the current release?

[2020-09-05 00:03] thibaudcolas opened #126 "Package is published with .idea IDE configuration files"
The published package contains your IDE’s configuration files, which I assume is unintended:

[code]

I’d suggest removing the `.npmignore` file, and using the package.json’s `files` field instead:

[code]

This will result in the list below (a few files are included no matter what):

[code]

[2020-09-05 00:06] thibaudcolas opened #127 "Package is published with its development-only dependencies"
The package shouldn’t be published with dependencies that are only used for development:

https://github.com/shakacode/sass-resources-loader/blob/ce2700db680bbe100a5f6b0b9edee5c740396dba/package.json#L37-L56

As far as I can see all of `@babel/cli`, `@babel/preset-env`, and `babel-eslint` are only used in development. They should be moved to `devDependencies`.

[2020-09-05 19:44] justin808 commented on #126
I agree. @thibaudcolas could you create a PR and confirm this works for you?

[2020-09-05 19:46] justin808 commented on #127
@thibaudcolas could you put this improvement and the one for #126 in a PR?

[2020-09-16 20:04] dkniffin commented on #76
I'm working on a migration from sprockets to webpacker, and I came across this GH issue when googling, so I figured I'd share the config I've got that seems to be working:

[code]

[code]

At the moment, I think this is loading my variables and mixins and such correctly, though my compilation is still not working, but I think it's for unrelated reasons.

[2020-09-16 20:41] zmanning29 commented on #76
figured this out. I think my issue may be a little unique because I am using Adobe Experience Manager. Here was the solution though:

`const { override, adjustStyleLoaders } = require("customize-cra");
module.exports = override(
  adjustStyleLoaders(rule => {
    if (rule.test.toString().includes("scss")) {
      rule.use.push({
        loader: require.resolve("sass-resources-loader"),
        opt

[2020-10-22 14:49] amatiash commented on #55
Doesn't work for me. Even with new config:
`{loader: 'sass-loader', options: {sourceMap: true, sassOptions: {outputStyle: 'compressed'}}}`

[2020-10-22 17:03] rnogueira-namoadigital commented on #55
there is no "sassOptions", flat it to "options"

[code]

[2020-10-22 17:08] amatiash commented on #55
Yes, there is. In Webpack 4.

[2020-10-22 17:15] rnogueira-namoadigital commented on #55
this is not related to webpack, only sass-loader.
When I wrote this solution, it was for `sass-loader v7`, now it is `v10` and webpack is `v5`.
I suggest you to update both to the last verion.

Which version of `sass-loader` are you using?

[2020-10-22 17:19] rnogueira-namoadigital commented on #55
Also here in documentation, you can see a note about some issues to generate source-map.
https://github.com/webpack-contrib/sass-loader#sourcemap

Which says:
ℹ In some rare cases node-sass can output invalid source maps (it is a node-sass bug).

In order to avoid this, you can try to update node-sass to latest version or you can try to set within sassOptions the outputStyle option to compressed.

[2020-10-22 17:19] amatiash commented on #55
Thanks for clarification. I'm using "sass-loader": "^8.0.2".

[2020-10-26 14:17] amelieMa opened #130 "Module parse failed / You may need an additional loader to handle the result of these loaders."
Hello,

I have this error :
[code]

when i start my react application with :

[code]

My config overrides is :

[code]

Thanks for your help

[2020-10-29 06:27] justin808 commented on #130
@amelieMa your setup is not correct. sass-resources-loader must be used with other loaders for a scss file. See the examples.

[2020-10-29 06:27] #130 closed

[2020-11-19 13:47] mihailthebuilder commented on #80
`@import url('https://fonts.googleapis.com/...')` works now when you add it to any scss file **except** those  in the **options.resources** array. Check out **src/index.scss** and **webpack.config.js** in my repo: https://github.com/mihailthebuilder/tech-asia

[2020-11-23 13:50] EnVires opened #131 "How to change variables"
There are two themes in my project and I want to switch between them.
Themes are implemented as 2 scss styles with variables
![image](https://user-images.githubusercontent.com/15741748/99969727-8c32f100-2da3-11eb-84fd-c11781edd547.png)

how can i implement this?

[2020-11-29 00:56] justin808 commented on #131
I don't think your question is specific to this package.

I think you either will have to switch at build time, via some Webpack magic, or at runtime by using different variable names.

[2020-11-29 00:56] #131 closed

[2020-12-14 12:00] VaLo-Mimiokish commented on #98
mark, having same problem with vue cli 2.0 don't know how to config in chainWebpack

[2020-12-17 07:53] justin808 commented on #98
I don't use Vue. I'm open to PRs to fix this.

[2020-12-17 08:06] justin808 commented on #127
@Tomburgs, can you take this one?

[2020-12-27 21:44] dkaraush commented on #38
This error can be misleading. It says that the resources array is empty in config, but really there can be just zero files resolved by `glob`.
I spent half an hour, added logs into `parseResources.js` and only after I realized that I used wrong config with wrong pathes. 🤦‍♂️

[2020-12-29 19:01] justin808 commented on #38
@dkaraush @Tomburgs any thoughts if we could have a PR that could give a better error message?

[2020-12-29 19:55] dkaraush commented on #38
Ok, I think this error should be turned into warning, and before it should be another check.
The thing is, if there are no resource files found by `glob` (for example, I setup as `globalStyles/*.scss`, but haven't put any files there yet), then the webpack will just fail to build. In my opinion this can be a little warning, that there is just extra rule in webpack config. (`!resourcesLocations.len

[2020-12-29 20:45] Tomburgs commented on #38
@dkaraush I think your solution might bring more confusion, although I do agree that this should be a non-fatal error.
I was thinking perhaps in `utils/parseResources` under the `isArrayOfStrings` statement we could check if any of the paths didn't resolve any files and, if so, display a warning message?

Something like so:
[code]

Let me know what you think @justin808 & @dkaraush.

[2020-12-29 20:58] dkaraush commented on #38
Yes, I agree with you, that would be much more clear. But keep in mind that single string can also bring an empty array of files.
You can make those changes in my PR or make your own and abandon mine. I don't like how testing of console.log works there, but didn't find any better solution.

[2020-12-29 23:18] justin808 commented on #38
I like what @Tomburgs said, but I think the error should be fatal, as warnings might be ignored.

[2020-12-30 16:46] Tomburgs commented on #38
Done. Have a look at #134 @justin808 & @dkaraush!

[2021-01-06 13:43] tomas-hartman opened #135 "[dart-sass]: `hoistUseStatements` causes problems with @use ... with()"
Hi, I encountered a problem when using the `hoistUseStatements` option when I need to use imported variables inside `with` statement. Compilation ends up with `SassError: There is no module with the namespace "colors".` error.

I suppose this is because `resources` are `@import`ed, so they are not available at the time of compilation of `@use`s. (Of course it also fails when not using `hoistUseSta

[2021-01-27 09:14] #38 closed

[2021-02-16 20:25] pandabuilt opened #136 "sass-resource-loader + Nativescript + Angular issue CONSOLE ERROR: Error: Css styling failed: Error: Invalid value for animation: 1ms"
When using sass-resource-loader I get the following errors.

When defaulting styles within the projects and not using sass-resource-loader - it works (putting the code in dependencies inside a style sheet and use raw loader, resolve-url-loader and sass-loader.) However, when I add sass-resources-loader it fails with an error

CONSOLE ERROR: Error: Css styling failed: Error: Invalid value for anima

[2021-02-18 08:48] justin808 commented on #136
See the example app:

https://github.com/shakacode/sass-resources-loader/blob/master/example/webpack.config.js#L42-L62

If you think there's still a problem in the library, please create a reproducible case and reopen this issue.

By the way, I have no idea if the this package works with NativeScript.

[2021-02-18 08:48] #136 closed

[2021-02-18 08:49] justin808 commented on #135
@Tomburgs Any thoughts on this?

@tomas-hartman could you submit a PR with what you're thinking?

[2021-02-18 08:56] Tomburgs commented on #135
@justin808 I actually was working on improving that.

The problem we're having is that we're not using actual AST parser, as _all_ we actually need to do is find the last occurrence of `@use` statement, thus doing it with regex is easier.

Currently the regex we're using expects everything to be on the same line, we could fix it by doing something like this, which would allow there to be line brea

[2021-03-02 20:16] jimmy-e opened #137 "How to use sass-resources-loader with create-react-app (ejected)"
Please see [this repo](https://github.com/jimmy-e/cra-style-variables) for further information and reproduction.

I am using an ejected create-react-app and I want to be able to use global sass variables in an individual stylesheet without having to import the stylesheet. I think using `sass-resources-loader` is what I should use. I have updated the create-react-app ejected webpack config [here](h

[2021-03-04 17:42] #137 closed

[2021-03-05 00:03] justin808 commented on #137
Hi @jimmy-e, what was the issue?

[2021-03-22 09:21] sorryjs opened #138 "vue-cli@4 文件重复引入，全局引入多个重复css文件"
vue-cli@4 文件重复引入，全局引入多个重复css文件

[2021-03-22 09:21] sorryjs opened #139 "vue-cli@4 文件重复引入，全局引入多个重复css文件"
vue-cli@4 文件重复引入，全局引入多个重复css文件

[2021-03-22 21:05] justin808 commented on #138
Please post in English.

[2021-03-22 21:05] #138 closed

[2021-03-22 21:05] justin808 commented on #139
Please post in English.

[2021-03-22 21:05] #139 closed

[2021-04-11 23:47] justin808 commented on #135
@Tomburgs any update on this one?

[2021-04-14 09:09] Tomburgs commented on #135
@justin808 @tomas-hartman I created PR #140 to fix this.
Sticking with the regex approach for now.

[2021-04-14 21:26] justin808 commented on #135
@tomas-hartman, @lucpotage, can one of you give me 👍 on if we're ready for a release with https://github.com/shakacode/sass-resources-loader/pull/140 ? It's merged to master!

**Big thanks @Tomburgs for this change!!!!**

[2021-04-14 21:54] justin808 commented on #135
OK --I shipped. 🤞

[2021-04-14 21:54] #135 closed

[2021-04-14 21:55] justin808 commented on #127
Fixed a long time ago in #128.

[2021-04-14 21:55] #127 closed

[2021-04-14 21:55] justin808 commented on #126
Fixed in #128

[2021-04-14 21:55] #126 closed

[2021-04-23 07:37] xiaoxiaotongzhi opened #141 "of no avail （scss still needs to be introduced）"
`{
          test: /\.scss$/,
          include: path.resolve(__dirname, 'src/global-css/'),
          loaders: [
            isDevMode ? 'style-loader?sourceMap' : MiniCssExtractPlugin.loader,
            { loader: 'css-loader', options: { sourceMap: isDevMode } },
            postloader,
            { loader: 'sass-loader', options: { sourceMap: isDevMode } },
            {
              loader:

[2021-04-26 09:20] justin808 commented on #141
@xiaoxiaotongzhi I don't understand what your issue is. Please update and reopen the issue.

[2021-04-26 09:20] #141 closed

[2021-06-17 08:06] MichaelPolonsky opened #143 "Builds are failing with "if (single.indexOf('sass:') === 0) {""
Builds are failing with the following message

 "sass-resources-loader": "^2.2.1",
  "webpack": "~4.44.2",
  "sass-loader": "^10.1.1",
  "node-sass": "^4.11.0",

`Compiling with '/opt/atlassian/pipelines/agent/build/webclient' as base path.
Build environment 'production'.
/opt/atlassian/pipelines/agent/build/webclient/node_modules/sass-resources-loader/lib/utils/rewritePaths.js:41
    if (single.i

[2021-06-17 08:10] az33zy opened #144 "2.2.2 causes TypeError: Cannot read property 'indexOf' of undefined"
Trying to build a Nuxt project. I get this error.

[code]

It works fine if I add this to `package.json`:

[code]

[2021-06-17 09:43] MichaelPolonsky commented on #143
Closing as duplicate of https://github.com/shakacode/sass-resources-loader/issues/144

[2021-06-17 09:43] #143 closed

[2021-06-17 12:08] mattiaerli97 commented on #144
This error is really blocking and is a problem for the whole development of my company.
**Can you merge the PR with absolute urgency**?

[2021-06-17 12:54] hjujah commented on #144
**Critical** issue indeed...

[2021-06-17 13:04] mattiaerli97 commented on #144
Yes I now, I downgraded the package locally, but for production I don't want to downgrade packages. However your workaround fixed the problem, at least temporarily

[2021-06-18 20:31] yackinn opened #146 "Webpack 5 support for Angular 12"
Do you want to support Angular 12 and Webpack 5?

I'm seeing this error on Angular 12.0.3.
The builder is using webpack 5.38.1.

I'm using sass-resource-loader version 2.2.2

[code]

[2021-06-18 20:48] yackinn commented on #146
The error is resolved by https://github.com/shakacode/sass-resources-loader/issues/144.

[2021-06-18 20:48] #146 closed

[2021-06-21 08:45] Vlasterx commented on #144
I can confirm that this is happening to me as well. I had to downgrade back to 2.2.1

[2021-06-22 08:01] #144 closed

[2021-06-22 08:10] justin808 commented on #144
Shipped 2.2.3! 🚀

[2021-06-28 00:27] Xandromus commented on #84
I'm running into the same issue

[2021-06-28 02:04] justin808 commented on #84
I'm pretty sure this is just a configuration issue. Check the examples.

It's updated to webpack 4.44.1.

https://github.com/shakacode/sass-resources-loader/blob/master/example/package.json#L60

[2021-06-28 02:04] #84 closed

[2021-07-28 07:10] Geekimo opened #148 "@use not working with builtin modules"
Hello !
I just went through an issue with @use trying to load a builtin module, which starts with "sass:".
[code]
I got the following error:
[code]
Looks like the sass-resources-loader tries to locally import this module.

I'm currently using 2.2.3 through @nuxtjs/resources-loader package and hoistUseStatements is set to true.

[2021-07-28 07:32] Geekimo commented on #148
I ran the some tests and got the following output in `utils/rewritePath.js`.
The file was compiled as following :
[code]
I used the following snippet just before line 41 for debugging: `console.log('Debug: ', { entire, importer, single, _double, unquoted });`

I got the following input:
[code]
The value in `_double` is supposed to be in `single` isn't it ?

Regards.

[2021-07-28 08:29] Geekimo commented on #148
Just ran another test, and I found out that due to the compilation issue, the @use with a builtin module only work if the value is single-quoted.

[2021-08-04 11:59] justin808 commented on #148
@Geekimo I'm open to a PR.

[2021-08-05 05:18] justin808 commented on #148
I just shipped 2.2.4 which has a minor update.

@amannn @shokmaster @Tomburgs Any chance that you can check this issue out? I won't have time to work on a PR for a while. I'm happy to fast-track a review and ship if you guys have a PR.

**And please let me know if just using single rather than double quotes is enough and that we should close this issue.**

CC: @Geekimo, @mahish

[2021-08-05 10:29] rchl commented on #148
I've released new version of `@nuxtjs/resources-loader` with `sass-resources-loader` updated.

[2021-08-05 14:05] Tomburgs commented on #148
I believe this issue was already fixed in #147, did we just forget to push it to npm @justin808?

[2021-08-05 14:23] justin808 commented on #148
Should be fixed in 2.2.4.

Thanks @Tomburgs!

[2021-08-05 14:23] #148 closed

[2021-10-25 16:40] mrleblanc101 opened #149 "`hoistUseStatements` doesn't work when using `:export`"
When using `:export` to expose variable to JS (sass-loader in webpack), `hoistUseStatements` doesn't work.
If I comment the `:export` part, I have no error.

[code]

[2021-11-03 01:13] patrick99e99 opened #150 "getting "@use rules must be written before any other rules" error even though config has hoistUseStatements"
I have an `icons.scss` file which has in it:
[code]
And my config has:
[code]

Yet I still get:
[code]

[2021-11-28 09:32] AmirMasoud-Beheshti commented on #150
No fix yet?
I have the exact same issue

[2021-11-28 23:12] justin808 commented on #150
I'm open to a PR!

[2021-12-30 07:48] yairEO opened #151 "Equivalent for rollup?"
Hi, I've been searching for days and could not find any way
to globally inject SCSS variables in all SCSS files, in rollup.

Does anyone knows of a similar plugin for `rollup` or `postcss`?

Thanks

[2022-02-17 12:39] yxzh614 commented on #151
I‘m look for it too, did you found one?

[2022-02-17 16:36] yairEO commented on #151
no

[2022-03-19 15:47] PachVerb opened #152 "Configure sass-rescource-loaer after sassloader and hack my page styles"
**before configuration：**
this my webpack config code:
[code]
**head tag:**

![image](https://user-images.githubusercontent.com/43908467/159127878-5914773b-a895-4b73-bd6c-0e7e60400685.png)

**after configuration：**
[code]

**result:**

![image](https://user-images.githubusercontent.com/43908467/159127666-6ccba42a-3d52-4cf7-8743-072e809dda8f.png)

**expect:**help me. At present, I know the solution

[2022-04-12 02:34] ian-hutchinson opened #153 "async 3.2.0 dependency is vulnerable to CVE-2021-43138"
Versions of `async` below 3.2.2 are susceptible to prototype pollution.

Github advisory: https://github.com/advisories/GHSA-fwr7-v2mv-hh25
Snyk: https://security.snyk.io/vuln/SNYK-JS-ASYNC-2441827

Opening issue to attach my PR to update dep to.

[2022-04-15 01:27] chainalert-bot opened #155 "ChainAlert: new npm maintainer has published version 2.2.5 of package sass-resources-loader"
Dear [sass-resources-loader](https://npmjs.com/package/sass-resources-loader) maintainers,
Thank you for your contribution to the open-source community.

We've noticed that [shakacode](https://www.npmjs.com/~shakacode), a new maintainer, just published version 2.2.5 of [sass-resources-loader](https://npmjs.com/package/sass-resources-loader) to npm.

As part of our efforts to fight software supply

[2022-04-15 01:30] justin808 commented on #155
Yep. My other account. Had to be named `shakacode` to match the org in some cases.

[2022-04-15 01:30] #155 closed

[2022-04-15 01:30] justin808 commented on #153
Fixed in 2.2.5.

[2022-04-15 01:30] #153 closed

[2022-04-15 01:32] justin808 commented on #152
Please open a [discussion](https://github.com/shakacode/sass-resources-loader/discussions).

[2022-04-15 01:32] #152 closed

[2022-05-13 20:02] mrleblanc101 commented on #150
Still an issue

[2022-05-13 20:12] mrleblanc101 commented on #150
I have `@use "sass:math";` in 2 files. One is `settings/_svg-uri.scss` and one is `settings/_functions.scss`
Here is my config.
[code]
This would expand to this:
<img width="312" alt="Capture d’écran, le 2022-05-13 à 16 06 56" src="https://user-images.githubusercontent.com/17392251/168382012-319ce81e-6a7c-4f3b-a394-c18fca7d95b4.png">
But I get this error:

I shouldn't get any error because of th

[2022-05-14 01:17] justin808 commented on #150
I'm still open for code and doc PRs!

[2022-05-14 16:37] mrleblanc101 commented on #150
I don't know what the problem is and I can't say I understand how this plugin work, sorry.

[2022-05-17 18:30] mrleblanc101 commented on #150
Ok, I'm dumb. It still doesn't work.
It's simple that my import was incorrect `'@/assets/scss/functions/svg-uri'` instead of `'@/assets/scss/functions/_svg-uri.scss'`.
But I think I understand why.
I have a `@use "sass:math";` in 2 files. I should only have it in the file that is imported first.
Should this library deduplicate the @use statement ?

[2022-10-04 07:33] justin808 opened #158 "Switch to Github Actions for CI"
Since Travis is no longer a viable solution.

Convert https://github.com/shakacode/sass-resources-loader/blob/master/.travis.yml and remove that file.

[2022-10-25 12:10] #158 closed